<main>
  <div class="card-body auth-body pt-1">
    <ng-container [ngTemplateOutlet]="first" *ngIf="step === 1"></ng-container>
    <ng-container [ngTemplateOutlet]="second" *ngIf="step === 2"></ng-container>
  </div>

  <ng-template #first>
    <section id="step-01">
      <div class="row card admin-clients">
        <div class="card-header dashboard-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create Invoice</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <div class="d-block">
                <h4 class="title">Resources</h4>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text pointer" (click)="weekChange('previous')">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="text"
                  placeholder="MM/DD/YYYY"
                  class="form-control dateform"
                  [(ngModel)]="selectedWeek"
                  (bsValueChange)="buildWeekOptions($event)"
                  [maxDate]="maxDate"
                  bsDatepicker
                  [bsConfig]="bgConfig" />
                <div class="input-group-append">
                  <span class="input-group-text pointer" (click)="weekChange('next')">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-primary" (click)="next(2)" [disabled]="this.array.length == 0">Generate Invoice</button>
            </div>
          </div>

          <div class="card mt-3" *ngFor="let list of tabledata">
            <div class="row card-body">
              <div class="col-md-1">
                <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  (change)="getAnswers(list, $event.target)"
                  checked="{{ list.checked }}"
                  [id]="list.skillOwnerId" />
              </div>

              <div class="col-md-3 d-flex align-items-center">
                <div>
                  <img class="avatar" [src]="list.image" />
                </div>
                <div class="project">
                  <p class="mb-0">Name</p>
                  <h5 class="mb-0">{{ list?.ownerName }}</h5>
                </div>
              </div>

              <div class="col-md-3 project">
                <p class="mb-0">Position</p>
                <h5 class="mb-0">{{ list?.designation }}</h5>
              </div>

              <div class="col-md-2 project">
                <p class="mb-0">Client</p>
                <h5 class="mb-0">{{ list?.clientName }}</h5>
              </div>

              <div class="col-md-1 project">
                <p class="mb-0">Timesheet</p>
                <button class="btn btn-icon me-2" (click)="openView(list)">
                  <i class="fa fa-eye" ></i>
                </button>
              </div>

              <div class="col-md-2 project">
                <p class="mb-0">Total hours</p>
                <h5 class="mb-0">{{ list?.totalHours }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #second>
    <section id="step-02">
      <div class="card" #screen>
        <div class="col-md-12 card-header d-flex justify-content-between align-items-center">
          <h2 class="mb-0">Invoice Preview</h2>
          <div>
            <button class="btn btn-outline-primary me-3" (click)="send()">Submit</button>
            <button class="btn btn-outline-primary" (click)="download()">Download</button>
          </div>
        </div>
        <div class="card-body client-body mb-5 mt-5 pb-5 pt-5">
          <!-- <div class="card-body client-body mb-5 mt-5 pb-5 pt-5" *ngFor="let a of tabledata"> -->
          <div class="row">
            <div class="col-md-7 pe-4">
              <div class="d-flex justify-content-between logo-section">
                <div class="invoice-logo">
                  <img alt="logo" src="assets/logo/flexcub-logo-revised.svg" />
                </div>
                <div class="logo-right">
                  <!-- <div class="date-section mb-35">
                    <label class="py-2">Current Date</label>
                    <div class="value">{{ today | date : 'yyyy-MMM-dd' }}</div>
                  </div> -->
                  <!-- <div class="date-section">
                    <label class="py-2">Due Date</label>
                    <div class="value">{{ selectedDueDate | date : 'yyyy-MMM-dd' }}</div> -->
                    <!-- <div class="value">{{ a.dueDate | date: 'yyyy-MMM-dd' }}</div> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-5 logo-right-section">
              <div class="border rounded p-3">
                <div class="d-flex justify-content-between mb-3">
                  <!-- <div>
                    <label class="py-2">Invoice ID</label>
                    <div class="value">{{ invoiceId }}</div>
                  </div> -->
                </div>
                  <div class="mb-3">
                    <label class="py-1 pt-0">Current Date</label>
                    <div class="value">{{ today | date : 'MM/dd/yyyy' }}</div>
                  </div>

                  <!-- <div class="status">
                  {{ a.status.status }}
                </div> -->

                <!-- <div class="d-flex justify-content-between mb-3">
                <div>
                  <label class="py-1 pt-0">Invoice Date</label>
                  <div class="value">{{ a.invoiceDate | date: 'yyyy-MMM-dd' }}</div>
                </div>
              </div> -->
                <div class="d-flex justify-content-between">
                   <div>
                    <label class="py-1">Due Date</label>
                    <div class="value">{{ selectedDueDate | date : 'MM/dd/yyyy' }}</div>
                  </div>

                    <div>
                    <label class="py-1">Amount</label>
                    <div class="amount-value">$ {{ finalAmt }}</div>
                  </div>
                <!-- </div> -->
              </div>
              </div>
            </div>
          </div>
          <div class="row partner-section">
            <div class="col-md-7 p-3 pe-4">
              <div class="d-flex justify-content-between">
                <div class="partner-name">From, <br />{{ partnerName }}</div>
                <div class="logo-right">
                  <div class="date-section">
                    <label class="py-2">Tax ID</label>
                    <div class="table_content">{{ taxid }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 logo-right-section">
              <div class="p-3">
                <div>
                  <label class="py-2">Location</label>
                  <div class="table_content">{{ location }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 p-4">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">Service Description(Project Details)</th> -->
                    <th scope="col">Client Name - Position</th>
                    <th scope="col">Resource Name</th>
                    <th scope="col">Total Hours</th>
                    <th scope="col">Rate/Hr</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lists of tabledata; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td class="table_content">{{ lists?.clientName }}-{{ lists?.designation }}</td>
                    <td  class="table_content">{{ lists?.ownerName }}</td>
                    <td  class="table_content">{{ lists?.totalHours }}</td>
                    <td  class="table_content">$ {{ lists?.rate }}</td>
                    <td  class="table_content">$ {{ lists?.amount }}</td>
                    <td>
                      <div class="d-flex">
                        <div class="px-2" (click)="openView(lists)">
                          <i class="fa fa-eye"></i>
                        </div>
                        <div class="px-2" (click)="urlDownloadTimesheetDocuments(lists?.timesheetId)">
                          <span class="px-3">
                            <a [href]="webkitRelativePath1 ? webkitRelativePath1: 'javascript:void(0)'">
                              <i class="fa fa-download" aria-hidden="true" > </i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- <p>Total: ${{finalAmt }}</p>
                  <p>Flexcub Service Fee: ${{_serviceFeeAmount}}</p> -->
                </tbody>
                <hr>
                <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="d-none">Total: ${{finalAmt }}
                  </td>
                <td class="d-none">Flexcub Service Fee: ${{_serviceFeeAmount}}</td>
            </tr>
        </tfoot>
        <tfoot class="table1">
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                </td>
              <td class="d-none">Flexcub Service Fee: ${{_serviceFeeAmount}}</td>
          </tr>
      </tfoot>
      <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex align-items-baseline">
              <label class="total1">Total: </label>
              <p class="total1" style="margin-left: 28px;">${{finalAmt }}</p>
            </div>
            </td>

        </tr>
    </tfoot>
    <tfoot  class="table1">
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            </td>
            <td>
              <div class="d-flex align-items-baseline">
              <label class="totals">Flexcub Service Fee: </label>
              <p class="total2" style="margin-left: 28px;">${{_serviceFeeAmount}}</p>
              </div>
            </td>

      </tr>
  </tfoot>
  <tfoot  class="table1">
    <tr>
      <td><div>{{ finalCount }} Item</div></td>
      <td><div>Total Work Hours :{{ finalHours }}</div></td>
      <td>
      </td>
      <td></td>
      <td></td>
      <td>
        <div class=" d-flex align-items-baseline">
        <label class="totals2"> Amount Payable :</label>
        <p class="total5" style="margin-left: 28px;">$ {{ amountPayable }}</p>

      </div>
    </td>
    </tr>
  </tfoot>
  <!-- <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">

    <div>{{ finalCount }} Item</div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div>Total Work Hours :{{ finalHours }}</div>

    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
    <div class="d-flex">
      <div class="total">Amount Payable : $ {{ amountPayable }}</div>
    </div>
  </div>

  </div> -->





              </table>
            </div>
          </div>
        </div>


        <div class="card-footer">

        </div>
      </div>
      <div id="download">
        <div #canvas></div>
        <a #downloadLink></a>
      </div>
    </section>
  </ng-template>
</main>


<app-timesheet-details *ngIf="_view" [selectedWeek]="selectedWeek" [id]="$any(ownerInfo)?.skillOwnerEntityId
" (close)="closeView()"></app-timesheet-details>
