<div class="card">
  <div class="col-md-12 card-header d-flex justify-content-between align-items-center">
    <h2 class="mb-0 cursor" routerLink="/ssdashboard/viewPro">
      <i _ngcontent-aao-c361="" title="Go Back" aria-hidden="true" class="fa fa-chevron-left mx-2"></i>Create Projects
    </h2>
    <a class="btn-cancel" routerLink="/ssdashboard/viewPro">Cancel</a>
    <!-- <button class="btn" routerLink=>Cancel</button> -->
  </div>

  <div class="card-body client-body mb-5 mt-3 pb-5 pt-4">
    <form [formGroup]="projectForm">
      <div class="row client-form d-flex flex-column justify-content-center">
        <h3 class="basic-info">Create Projects</h3>
        <div class="form-group offset-md-4 col-md-4">
          <div class="form-group form-floating input-form">
            <input type="text" class="form-control" placeholder="Candidate Name" name="CandidateName" formControlName="ProjectTitle" />
            <label for="email">Project Title *</label>
          </div>
          <div class="form-group form-floating form-floating2 mt-3 input-form">
            <textarea
              type="text"
              class="form-control text-area"
              placeholder="Project Description"
              name="projectdescription"
              formControlName="projectDescription"></textarea>
            <label for="email">Project Description *</label>
          </div>
          <div class="form-group form-floating mt-3 input-form">
            <select
              class="form-control form-control-lg form-select projectform font-weight-600"
              formControlName="ProjectDepartment"
              id="floatingSelect"
              aria-label="Floating label select example">
              <option hidden selected value="">Please Select</option>
              <option *ngFor="let item of departmentData" [value]="item.domainId">
                {{ item?.domainValues }}
              </option>
            </select>
            <label for="floatingSelect">Project Department*</label>
          </div>
          <div class="form-group form-floating mt-3 input-form date-form1">
            <input
              type="text"
              bsDatepicker
              #dp1="bsDatepicker"
              onkeydown="return false"
              [bsConfig]="{ containerClass: 'theme-dark-blue' }"
              class="form-control"
              [minDate]="today"
              placement="right"
              [daysDisabled]="[6, 0]"
              (onHidden)="handler()"
              id="startDate"
              placeholder="mm/dd/yyyy"
              name="startDate"
              formControlName="startDate" />
            <label for="startDate">Start Date *</label>
            <div
              (click)="dp1.toggle()"
              [attr.aria-expanded]="dp1.isOpen"
              type="button"
              for="calendar-input"
              class="date-range-picker-icon fa fa-calendar"></div>
            <small
              class="text-danger"
              *ngIf="
                projectForm.errors?.dateValid &&
                (projectForm.get('startDate').touched ||
                  (projectForm.get('startDate').touched && projectForm.get('startDate').value !== '') ||
                  projectForm.get('startDate').dirty)
              "
              >Please provide a valid contract start date</small
            >
          </div>

          <div class="form-group form-floating mt-3 input-form date-form2">
            <input
              type="text"
              bsDatepicker
              #dp2="bsDatepicker"
              onkeydown="return false"
              [minDate]="disabledDates"
              placement="right"
              [daysDisabled]="[6, 0]"
              [bsConfig]="{ containerClass: 'theme-dark-blue' }"
              class="form-control"
              id="endDate"
              placeholder="mm/dd/yyyy"
              name="endDate"
              formControlName="endDate" />
            <label for="endDate">End Date *</label>
            <div
              (click)="dp2.toggle()"
              [attr.aria-expanded]="dp2.isOpen"
              type="button"
              for="calendar-input"
              class="date-range-picker-icon fa fa-calendar"></div>

            <small
              class="text-danger"
              *ngIf="
                projectForm.errors?.dateValid &&
                (projectForm.get('endDate').touched ||
                  (projectForm.get('endDate').touched && projectForm.get('endDate').value !== '') ||
                  projectForm.get('endDate').dirty)
              "
              >Please provide a valid contract end date</small
            >
          </div>
        </div>

        <div class="card-footer create-new-footer mt-5 d-flex justify-content-center">
          <button type="submit" [disabled]="!this.projectForm.valid" class="btn proceed-btn text-center" (click)="onBoardingSubmit()">
            Create<i class="fa fa-arrow-right px-1" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
