{
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-organize-imports"],
  "bracketSameLine": true,
  "printWidth": 150
}
