<p>skillseeker-describejob works!</p>

<!-- <div class="container">
    <div class="row pt-5">
      <div class="col-md-8">
        <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="editor">
              <h3>Editor</h3>
            </label>
            <quill-editor></quill-editor>
          </div>
        </form>
      </div>
      <div class="col-md-4 bg-light p-4">
        <h3>Output</h3>
        <p class="my-5"></p>
      </div>
    </div>
  </div> -->

<!-- <div id="quill">
    <p>Content *</p>
    <quill-editor [styles]="editorStyle" placeholder="Enter Text" [modules]="config"
        formControlName="yourCtrlname" required>
    </quill-editor>
</div> -->

<p>Job Description</p>

<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 mb-4">
  <quill-editor></quill-editor>
</div>
