@import '../authentication.component';

body {
  font-family: 'Karla', sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh;
}

.brand-wrapper {
  margin-bottom: 19px;
}

.brand-wrapper .logo {
  height: 37px;
}

::ng-deep input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

.proceed-btn {
  .btn-primary {
    color: #fff;
    background-color: #1565d8;
    border-color: #1565d8;
  }
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}

.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 462px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.login-card .card-body {
  padding: 85px 60px 60px;
}

.login-card .login-card-body {
  padding: 10px 60px 10px;
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}

.login-card-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1c4684;
}

// .login-card form {
//   //max-width: 326px;
// }

.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}

.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}

.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::placeholder {
  color: #919aa3;
}

.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.login-card .login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}

.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 20px;
  //top: 15rem;
  //position: relative;
  text-align: center;
}

.login-card-body p {
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 767px) {
  .login-card-footer-text {
    margin-bottom: 24px;
  }
}

.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}

.cursor-pointer {
  cursor: pointer;
}

// .login-box {
//   // position: absolute;
//   // top: 60%;
//   // left: 71%;
//   // width: 426px;
//   // padding: 40px;
//   // transform: translate(-50%, -50%);
//   // box-sizing: border-box;
//   // border-radius: 10px;
// }

.login-box .user-box {
  position: relative;
  margin-bottom: 1rem;
}

.login-box .user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  // margin-bottom: 15px;
  border: 1px solid#EAECEF;
  border-radius: 8px;
  height: 58px;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  font-family: inter;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -10px;
  left: 0;
  color: #656565;
  font-size: 12px;
}

.login-box .glyphicon-user {
  position: absolute;
  top: 30%;
  left: 90%;
}

.login-box .form-check-label {
  font-size: 14px;
  font-family: inter;
}

.login-box .checkbox {
  padding-left: 20px;
}

.remember-password a {
  font-family: inter;
  font-size: 14px;
}

.login-box a.btn {
  background-color: #1565d8;
  margin-top: 25px;
  font-family: inter;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.login-card-footer-text span {
  color: #656565;
}

.login-card-footer-text p,
a {
  color: #1565d8;
  font-family: inter;
  font-size: 14px;
}

.main-sub-text {
  color: #1565d8;
  font-weight: 400;
}

.card-body.login-formsection-s-4 {
  width: 90%;
  margin: 0 auto;
}

.card {
  border: 0;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
}

.btn-bold {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #52d3c7;
  border-color: #52d3c7;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.form-control:focus {
  border-color: #4885ed;
  color: #1c4684;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
  box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.custom-radio {
  cursor: pointer;
}

.custom-control {
  display: -webkit-box;
  display: flex;
  min-width: 18px;
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px !important;
  }
}

/* Anand code start here */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

/* You can add global styles start here*/

body {
  font-family: 'Karla', sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh;
}

.brand-wrapper {
  margin-bottom: 19px;
}

.brand-wrapper .logo {
  height: 37px;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}

.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 462px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.login-card .card-body {
  padding: 85px 60px 60px;
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}

.login-card-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1c4684;
}

.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}

.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}

.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}

.login-card .form-control::placeholder {
  color: #919aa3;
}

.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.login-card .login-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}

.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  //float: left;
  //top: 14rem;
  //position: relative;
  //left: 3.7rem;
}

@media (max-width: 767px) {
  .login-card-footer-text {
    margin-bottom: 24px;
  }
}

.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}

/*# sourceMappingURL=login.css.map */

/* step 4 code start here */

#step-04 {
  background: #e7ecf8;
  height: 100vh;
}

.top-logo {
  margin: 0 auto;
  display: flex;
}

.logo-subtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #1c4684;
}

.nxt-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #4885ed;
  cursor: pointer;
}

.next-arr {
  width: 25%;
  margin-left: 0.5rem;
}

.back-arr {
  width: 16%;
  margin-right: 0.5rem;
}

.back-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #656565;
  padding-right: 3rem;
  cursor: pointer;
}

.card-footer.text-muted {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 80px;
  background: transparent;
}

.lock-icon {
  margin-left: 25rem;
  margin-top: -2.5rem;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 23px 20px 20px 20px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 45px;
}

.right-addon input {
  padding-right: 30px;
}

.card-body.formsection-s-4 {
  width: 50%;
  margin: 0 auto;
}

.home-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

[placeholder]:focus::-webkit-input-placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #656565;
  opacity: 0.8;
}

.card {
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  // height: 83vh;
  border: none;
}

.padding {
  padding: 3rem !important;
}

body {
  background-color: #f9f9fa;
}

h5.card-title {
  font-size: 15px;
}

.fw-400 {
  font-weight: 400 !important;
}

.card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  margin: 1.5rem 0 1.5rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  height: 58px;
  border: 1px solid #eaecef;
  box-sizing: border-box;
  border-radius: 8px;
  color: #1c4684;
  padding: 5px 12px;
  line-height: inherit;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #656565;
}

.card-body > *:last-child {
  margin-bottom: 0;
}

.btn-primary {
  background-color: #fff;
  border-color: black;
  color: black;
  width: 100px;
}

.btn-primary a:hover {
  background-color: none;
}

.btn-bold {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #52d3c7;
  border-color: #52d3c7;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.form-control:focus {
  border-color: #4885ed;
  color: #1c4684;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
  box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.custom-radio {
  cursor: pointer;
}

.custom-control {
  display: -webkit-box;
  display: flex;
  min-width: 18px;
}

/* step 4 code end here */

/* Step 6 code start here */

.slog-sub-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #656565;
  margin: 0 auto;
}

.m-b-15 {
  margin-bottom: 1.3rem;
}

.blue-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #4885ed !important;
}

.m-top-2rem {
  margin-top: 1rem;
}

#proceed {
  border: 1px solid #eaecef;
  border-radius: 6px;
  height: 54px;
  width: 50%;
  margin: 0 auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #4885ed;
}

#proceed:hover {
  background-color: #4885ed;
  color: #fff;
}

.login-card-footer-text.step-06 {
  font-size: 16px;
  color: #0d2366;
  top: unset;
  left: unset;
}

/* step 6 code end here */

/* step 7 code start here */

h5.slog-sub-txt.step-07 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #325e9e;
  padding: 1rem 0;
}

.login-card-footer-nav.step-7 {
  text-align: center;
  padding: 1rem 0 2rem 0;
}

.step-7subtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4885ed !important;
  text-decoration: underline;
}

#verify {
  background: #3cba54;
  border: 1px solid #3cba54;
  box-sizing: border-box;
  border-radius: 6px;
  color: #ffffff;
  width: 40%;
  margin: 0 auto;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

/* step 7 code end here */

/* Step 2 code start here */

.vertical-scrollable > .row {
  position: absolute;
  top: 200px;
  bottom: 100px;
  width: 50%;
  overflow: auto;
  left: 27.5%;
  right: 50%;
}

.col-sm-12 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin-bottom: 1.5rem;
  color: #656565;

  padding-bottom: 20px;
  padding-top: 18px;
}

.col-sm-12:hover {
  background: #f5f9ff;
  border: 1px solid #1565d8 !important;
  box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
  border-radius: 8px;
  cursor: pointer;
}

.col-sm-12:nth-child(2n + 1) {
  background: #ffffff;
  border: 1px solid #eaecef;
  border-radius: 8px;
  padding-left: 1rem;
}

.col-sm-12:nth-child(2n + 2) {
  background: #ffffff;
  /* component-ouline */

  border: 1px solid #eaecef;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 0 !important;
}

/* Step 2 code end here */

.main-sub-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1c4684;
}

.sudo {
  width: 100%;
  height: 17vh;
  background-image: url('https://flexcub.com/images/skill-seeker-img-grey.svg');
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.sudo:hover {
  background-image: url('https://flexcub.com/images/skill-seeker-img-blue.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 17vh;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  float: left;
  margin-left: -1rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.bg-left-color {
  background: linear-gradient(180deg, #4885ed 0%, #4200ff 100%);
  //   height:100vh;
}

.b-sign {
  color: #4885ed !important;
  font-weight: 600;
}

.skill-partner-g {
  top: 8rem;
  position: relative;
}

#step-06 .form-floating > .form-control {
  padding: 1.5rem 2.75rem 0.3rem;
}

#step-06 .form-floating > label {
  padding: 1rem 2.75rem;
}

.map-img {
  width: 100%;
}

/* skill partner step03 start here */

.select-item-list {
  display: flex;
  padding: 10px 30px;
}

.select-item-list .select-item-list--single {
  width: 100%;
}

.select-item-list .select-item-list--single h4 {
  font-size: 18px;
}

.directorist-select {
  min-height: 42px;
}

.directorist-select__container {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  padding: 3px;
  min-width: 300px;
  background: #fff;
}

.directorist-select__container .directorist-select__label {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
  min-height: 42px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.directorist-select__container .directorist-select__label img,
.directorist-select__container .directorist-select__label i {
  max-width: 15px;
  width: 100%;
}

.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove i,
.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.fa,
.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.la {
  pointer-events: none;
}

.directorist-select__dropdown {
  background: #fff;
  box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
  padding: 15px;
  box-sizing: border-box;
  display: none;
  margin-top: 4px;
  max-height: 400px;
  overflow-y: auto;
}

.directorist-select__dropdown .directorist-select__search {
  height: 42px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #ececec;
}

.directorist-select__dropdown .directorist-select__search:focus {
  outline: none;
  box-shadow: 0 0;
}

.directorist-select__dropdown .directorist-select__search.directorist-select__search--hide {
  display: none;
}

.directorist-select__dropdown.directorist-select__dropdown-open {
  display: block;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul li .directorist-select-dropdown-item-icon img {
  max-width: 20px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  align-items: center;
  padding: 2.5px 15px;
  border-radius: 4px;
  margin: -4px;
  min-height: 42px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input {
  font-size: 14px;
  border: 0 none;
  width: auto;
  padding: 5px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input:focus {
  outline: none;
  border: 0 none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px 6px -4px -4px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list,
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__search {
  margin: 0;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__search {
  flex: auto;
}

.directorist-select.directorist-select-multi
  .directorist-select__container
  .directorist-select__label
  .directorist-select__selected-list
  .directorist-select__selected-list--item {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  padding: 5px 8px;
  background-color: #3c3d58;
  border-radius: 4px;
  min-height: 17px;
  margin: 4px;
}

.directorist-select.directorist-select-multi
  .directorist-select__container
  .directorist-select__label
  .directorist-select__selected-list
  .directorist-select__selected-list--item
  i {
  color: #fff;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown {
  display: none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown.directorist-select__dropdown-open {
  display: block;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown {
  background: #fff;
  box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
  padding: 15px;
  box-sizing: border-box;
  margin-top: 2px;
  max-height: 400px;
  overflow-y: auto;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li {
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li.directorist-select-item-show {
  background-color: #f4f5f7;
  border-radius: 4px;
}

span.directorist-select__selected-list--item:first-letter {
  text-transform: capitalize;
}

/* Directorist Error */
.directorist-select__container.directorist-error .directorist-select__label {
  border-color: rgb(199, 6, 6) !important;
}

.directorist-error .directorist-error__msg {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  color: rgb(199, 6, 6);
}

.card-body.formsection-s-4.skill-par-step-03 {
  width: 70%;
  margin: 0 auto;
}

.sudo1 {
  width: 100%;
  height: 17vh;
  background-image: url('https://flexcub.com/images/skill-partner-grey.svg');
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.sudo1:hover {
  background-image: url('https://flexcub.com/images/skill-partner-blue.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 17vh;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  float: left;
  margin-left: -1rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

/* skill parther step02 end here */

.envelop-img {
  width: 10%;
  margin: 2rem auto;
}

.tick-img {
  margin: 2rem auto;
}

#start-now-btn {
  border: 1px solid #eaecef;
  border-radius: 6px;
  height: 54px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  background: #1565d8;
}

/* You can add global styles end here */

/* Anand code start here */

.w-100 {
  width: 100%;
}

/* Anand code start end */

/* Rajesh code start here */
.form-select {
  height: 58px;
  border: 1px solid #eaecef;
  box-sizing: border-box;
  border-radius: 8px;
  color: #1c4684;
  padding: 5px 12px;
  line-height: inherit;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #656565;
}

.footer1 {
  font-size: 14px;
  font-family: emoji;
  padding: 6px;
}

.roundedcorner {
  margin: 5px;
  padding: 5px;
  float: left;
  border-radius: 25px;
  border: 2px solid #73ad21;
}

.login-box .user-box input {
  //width: 87% !important;
  padding-left: 10px;
}

.btn_eye {
  background-color: transparent;
  border: none;
  color: #1c4684;
  font-size: 17px;
  position: absolute;
  top: 10px;
  right: -40px;
}

i.fa.fa-eye-slash,
i.fa.fa-eye {
  right: 3em !important;
  position: relative;
  cursor: pointer;
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Rajesh code start end */

/* Kavi code start here */

/* Kavi code start end */

/* Anand code start end */

.sub-text {
  color: #656565;
  margin-top: 3rem;
}

/* Rajesh code start here */

.is-invalid {
  border: 2px solid #dc3545;
  background-repeat: no-repeat;
  padding-right: calc(1.5em + 0.75rem);
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

i.fa.fa-eye-slash {
  right: 1em;
  position: relative;
  cursor: pointer;
}
i.fa.fa-eye {
  right: 1em;
  position: relative;
  cursor: pointer;
}

.activationCode {
  font-size: small;
}

/* Rajesh code start end */

/* Kavi code start here */

/* Kavi code start end */

@media only screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
  .login-card .card-body {
    padding: 65px 60px 60px;
  }
}

@media only screen and (max-device-width: 992px), screen and (max-width: 992px) {
  .login-card .card-body {
    padding: 50px 0px 50px;
  }
}

@media only screen and (max-device-width: 991px), screen and (max-width: 991px) {
  .login-card-img {
    width: 289px;
  }

  .login-box {
    .sub-text {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-title {
    margin: 4.5rem 0 1.5rem;
  }

  .logo-subtext {
    font-size: 21px;
  }

  .bg-left-color {
    display: none;
  }

  .login-card .login-card-body {
    padding: 0;
    width: 85%;
    margin: 0 auto;
  }

  .main-sub-text {
    margin-bottom: 1.5rem;
  }

  .padding {
    padding: 1rem !important;
  }

  h5.slog-sub-txt.step-07 {
    padding: 1rem;
  }
}

// ipad portrait query

/*working only in ipad portrait device*/
@media only screen and (max-width: 768px) {
  // @media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
  .bg-left-color {
    display: none;
  }
  .login-right-section {
    width: 100%;
  }
}

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}
