<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="card-body auth-body pt-1">
    <ng-container [ngTemplateOutlet]="first" *ngIf="step === 1"></ng-container>
    <ng-container [ngTemplateOutlet]="second" *ngIf="step === 2"></ng-container>
  </div>

  <ng-template #first>
    <section id="step-04">
      <div class="page-content page-container" id="page-content">
        <div class="padding">
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-8">
              <form [formGroup]="formForm" class="card animate__animated animate__fadeInRight">
                <div>
                  <a href="index.html"><img src="assets/images/icon-btn-home.svg" alt="login" class="home-btn" /></a>
                </div>
                <h5 class="card-title fw-400">
                  <img src="assets/images/logo-flexcub.svg" alt="login" class="top-logo" />
                </h5>
                <img src="assets/images/tick-img.svg" alt="login" class="tick-img" />
                <h2 class="logo-subtext">Your email has been verified!</h2>
                <p class="text-center">Thank you for creating an account with FlexCub!</p>
                <h5 class="slog-sub-txt step-07">
                  <b>We have emailed you the link to login to your account.</b>
                </h5>
                <div class="card-body formsection-s-4">
                  <div class="d-flex justify-content-center" (click)="next(2)">
                    <input name="login" id="start-now-btn" class="btn btn-block login-btn mb-4" type="button" value="Get Started Now" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>

  <ng-template #second>
    <div class="container">
      <div class="card login-card animate__animated animate__fadeInLeft" data-wow-duration="1.5s">
        <div class="row no-gutters">
          <div class="col-md-5 bg-left-color fadeInUp">
            <img src="assets/images/register-left-img.png" alt="login" class="login-card-img" />
          </div>
          <div class="col-md-7 login-right-section">
            <div class="card-body">
              <div class="brand-wrapper text-center">
                <img src="assets/images/logo-flexcub.svg" alt="logo" class="logo" />
              </div>
              <p class="login-card-description text-center">Confirm Password</p>
              <p class="main-sub-text text-center">The password should have atleast 6 characters</p>

              <div class="login-card-body login-formsection-s-4 login-box">
                <form [formGroup]="formForm">
                  <div class="user-box">
                    <!-- <input readonly [type]="password" name="" required="" formControlName="token" [(ngModel)]="token_value">
              <label style="margin-top:-20px">Enter Activation Code *</label> -->

                    <!-- <input readonly [type]="password" name="" formControlName="token" [(ngModel)]="token_value"> -->
                    <input [type]="fieldTextType1 ? 'text' : 'password'" name="" formControlName="token" [(ngModel)]="token_value" />
                    <label for="firstname">Enter Activation Code *</label>
                    <span (click)="toggleFieldTextType1()" class="btn_eye">
                      <i
                        class="fa activationCode"
                        style="margin-left: -30px; margin-top: 9px"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType1,
                          'fa-eye': fieldTextType1
                        }"></i>
                      <!-- <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!show" style="margin-left: -30px; margin-top: 9px"></i> -->
                    </span>

                    <!-- <img src="assets/images/show-password.svg" alt="login" class="glyphicon glyphicon-user cursor-pointer"> -->
                  </div>
                  <div class="user-box">
                    <input
                      [type]="fieldTextType ? 'text' : 'password'"
                      name=""
                      formControlName="password1"
                      required=""
                      [class.is-invalid]="f?.password1?.touched && f?.password1?.errors" />

                    <label>Password *</label>

                    <!-- Change input type to be dynamic -->
                    <span (click)="toggleFieldTextType()" class="btn_eye">
                      <i
                        class="fa activationCode"
                        style="margin-left: -30px; margin-top: 9px"
                        [ngClass]="{
                          'fa-eye-slash': !(f?.password1?.touched && f?.password1?.errors) && !fieldTextType,
                          'fa-eye': !(f?.password1?.touched && f?.password1?.errors) && fieldTextType
                        }"></i>
                      <!-- <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="!fieldTextType"  style="margin-left: -30px; margin-top: 9px"></i> -->
                    </span>
                    <!-- <span (click)="toggleFieldTextType()" class="btn_eye">
                      <i
                        style="margin-top: 10px"
                        class="fa fa-eye-slash"
                         *nfIf="!fieldTextType"></i>
                        <i
                        style="margin-top: 10px"
                        class="fa fa-eye"
                        *ngIf="fieldTextType"></i>
                    </span> -->
                    <div *ngIf="f?.password1?.touched && f.password1?.errors" class="invalid-feedback">
                      <small *ngIf="f.password1.errors?.required">New password is required</small>
                      <small *ngIf="f.password1.errors?.minlength">New password must be at least 6 characters</small>
                    </div>
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      <div *ngIf="f.password.errors.maxlength">password must not exceed 40 characters</div>
                    </div> -->
                  </div>
                  <div class="proceed-btn">
                    <button [disabled]="!formForm.valid" class="btn btn-primary float-end d-block w-100" (click)="submit()">Submit</button>
                  </div>
                </form>

                <!-- <a class="btn d-block" href="#"> -->
                <!-- <a class="btn d-block" [routerLink]="['/login']">Submit</a> -->

                <div class="text-center pt-2 sub-text">
                  To make sure your account is secure, you'll be logged out from other devices once you set the new password.
                </div>

                <div class="remind-me"></div>
              </div>
            </div>
            <div class="login-card-footer-text">
              <a href="#">Privacy Policy</a> <span>|</span>
              <a href="#" class="">Terms of Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
