.skill-seeker-dashboard {
  border-radius: 10px;
}
.skill-seeker-dashboard .card {
  background-image: linear-gradient(#dafbe1, #ffffff);
}
.skill-seeker-dashboard .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card1 .card-body {
  padding: 1.5rem 1.5rem;
}

.skill-seeker-dashboard-left h2 {
  color: #1c4684;
  font-size: 26px;
  font-weight: 600;
}
.skill-seeker-dashboard-left p {
  color: #656565;
  font-size: 14px;
  font-weight: 500;
}
.skill-seeker-dashboard-left .cursor-pointer img {
  cursor: pointer;
}
.skill-seeker-dashboard-right p {
  font-size: 10px;
  font-weight: 400;
  font-family: inter;
  color: #656565;
}
.skill-seeker-dashboard-right {
  height: 600px;
  overflow-y: auto;
}
.skill-seeker-dashboard-right .top-title h4 {
  font-size: 18px;
  font-weight: 600;
}
.skill-seeker-dashboard-right .top-title a {
  font-size: 12px;
  font-weight: 400;
}
.skill-seeker-dashboard-right .card {
  // background: #f5f9ff;
  background: #e6faf5;
  border-left: 6px solid #00cc99;
  border-color: #00cc99;
}

.skill-seeker-dashboard-right .card1 {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-left: 6px solid #d5d5d5;
  position: relative;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
.skill-seeker-dashboard-right .card .card-body h5 {
  font-size: 12px;
  font-weight: 600;
  font-family: inter;
  color: rgba(0, 0, 0, 0.75);
}

.skill-seeker-dashboard-right .card1 .card-body h5 {
  font-size: 12px;
  font-weight: 600;
  font-family: inter;
  color: rgba(0, 0, 0, 0.75);
}

.skill-seeker-dashboard-right .card .card-body .title span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #1565d8;
}
.skill-seeker-dashboard-right .card .card-body p {
  font-size: 10px;
  font-weight: 400;
  font-family: inter;
  color: rgba(0, 0, 0, 0.6);
}

.skill-seeker-dashboard-right .card1 .card-body p {
  font-size: 10px;
  font-weight: 400;
  font-family: inter;
  color: rgba(0, 0, 0, 0.6);
}
.skill-seeker-dashboard-right .card .card-btn .btn {
  font-size: 12px;
  font-weight: 600;
}
.skill-seeker-dashboard-right .card .card-btn .accept-btn {
  background: #1565d8;
  color: #ffffff;
  margin-left: 15px;
}
.skill-seeker-dashboard-right .card .card-btn .decline-btn {
  color: #db3236;
  padding-left: 15px;
}
.skill-seeker-dashboard-right .card .card-btn .ignore-btn {
  color: #f4c20d;
  padding-left: 15px;
}
.card-body.header-section {
  flex-direction: row !important;
  display: flex;
  align-items: center;
}

button.btn.btn-success.header-btn-sec {
  float: right;
  align-items: center;
}

.card-body.header-section .btn-success {
  color: #fff;
  background-color: #3cba54;
  border-color: #3cba54;
}

.card-body.header-section .btn-success:hover {
  background-color: #0c8122;
  border-color: #0c8122;
}

.markRead {
  color: #00cc99;
  cursor: pointer;
}
