<div class="card">
  <div class="col-md-12 card-header d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Invoice Preview</h2>
    <div>
      <button class="btn btn-outline-primary me-3">Send</button>
      <button class="btn btn-outline-primary">Download</button>
    </div>
  </div>
  <div class="card-body client-body mb-5 mt-5 pb-5 pt-5">
    <div class="row">
      <div class="col-md-7 pe-4">
        <div class="d-flex justify-content-between logo-section">
          <div class="invoice-logo">
            <img alt="logo" src="assets/logo/flexcub-logo-revised.svg" />
          </div>
          <div class="logo-right">
            <div class="date-section mb-35">
              <label class="py-2">Invoice Date</label>
              <div class="value"></div>
            </div>
            <div class="date-section">
              <label class="py-2">Due Date</label>
              <div class="value"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 logo-right-section">
        <div class="border rounded p-3">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <label class="py-2">Invoice ID</label>
              <div class="value">IN-002</div>
            </div>
            <div class="status">Active</div>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div>
              <label class="py-1 pt-0">Invoice Date</label>
              <div class="value">31-Nov-2022</div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <label class="py-1">Due Date</label>
              <div class="value">31-Nov-2022</div>
            </div>
            <div>
              <label class="py-1">Amount</label>
              <div class="amount-value">$3000.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row partner-section">
      <div class="col-md-7 p-3 pe-4">
        <div class="d-flex justify-content-between">
          <div class="partner-name">From, <br />Skill Partner name</div>
          <div class="logo-right">
            <div class="date-section">
              <label class="py-2">Project ID</label>
              <div class="value">3002</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-5 logo-right-section">
        <div class="p-3">
          <div>
            <label class="py-2">Department</label>
            <div class="value">Health Analytics</div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12 p-4">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Service Description(Project Details)</th>
              <th scope="col">Resource Name</th>
              <th scope="col">Total Hours</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>PRJ2022ICOM3E-INSURCOMM-X22</td>
              <td>Anandkumar</td>
              <td>30</td>
              <td>
                $3000
                <a _ngcontent-pvs-c346><img _ngcontent-pvs-c346="" src="assets/images/preview.svg" /> </a>
                <a _ngcontent-pvs-c346><img _ngcontent-vnd-c346="" src="assets/images/icon-archive.svg" /> </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div>1 Item</div>
      <div>Total Work Hours :30</div>
      <div class="total">Amount Payable $ 3000.00</div>
    </div>
  </div>
</div>
