<app-loader *ngIf="isLoading">{{ isLoading }}</app-loader>
<div class="card">
  <div>
    <ng-container [ngTemplateOutlet]="first" *ngIf="step === 1"></ng-container>
    <ng-container [ngTemplateOutlet]="second" *ngIf="step === 2"></ng-container>
    <ng-container [ngTemplateOutlet]="third" *ngIf="step === 3"></ng-container>
    <ng-container [ngTemplateOutlet]="four" *ngIf="step === 4"></ng-container>
    <ng-container [ngTemplateOutlet]="five" *ngIf="step === 5"></ng-container>
    <ng-container [ngTemplateOutlet]="six" *ngIf="step === 6"></ng-container>
    <ng-container [ngTemplateOutlet]="seven" *ngIf="step === 7"></ng-container>
    <ng-container [ngTemplateOutlet]="eight" *ngIf="step === 8"></ng-container>
    <ng-container [ngTemplateOutlet]="nine" *ngIf="step === 9"></ng-container>
    <ng-container [ngTemplateOutlet]="ten" *ngIf="step === 10"></ng-container>
  </div>
</div>

<ng-template #first>
  <div class="row job-list">
    <div class="col-md-12 card card10 job-list-wrapper">
      <div class="card-header job-list-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Your Job Requirements</h4>

        <div class="middle d-none d-lg-block" style="width: 500px">
          <mat-form-field class="field4x col-md-10 mt-1" appearance="outline">
            <input class="control" matInput type="text" [(ngModel)]="searchText" placeholder="Search for Job ID, Job Title, Location" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button class="btn" *ngIf="jobCreateVisibility" (click)="next(2)"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
        </div>
      </div>
      <div class="card-body job-list-body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Job ID</th>
              <th scope="col">Job Title</th>
              <th scope="col">Location</th>
              <th scope="col">Level & Experience</th>
              <th scope="col">Positions</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of tabledata | reverse | customFilter : searchText">
              <th scope="row">
                <input type="checkbox" aria-label="Checkbox for following text input" />&nbsp;
                {{ a.jobId }}
              </th>
              <td><img src="assets/images/document-icon.svg" /> {{ a.jobTitle }}</td>
              <td>{{ a.jobLocation }}</td>
              <td>
                {{ a.ownerSkillYearOfExperience?.ownerSkillLevelEntity?.skillLevelDescription }}
                & {{ a.ownerSkillYearOfExperience?.experience }}
              </td>
              <td>{{ a.numberOfPositions }}</td>
              <td>
                <p
                  class="mb-0 text-center"
                  [ngClass]="a.status == 'New' ? 'yellow' : a.status == 'In Hiring' ? 'green' : a.status == 'On-Hold' ? 'orange' : 'red'">
                  {{ a.status }}
                </p>
              </td>
              <td>
                <a *ngIf="a.status !== 'In Hiring'" (click)="viewCandidate(a.jobId)">View Candidates </a>
                <a *ngIf="a.status == 'In Hiring'" (click)="sectionProcessMethod(a.jobId)">View Selection Process</a>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/icon-more.svg" />
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" *ngIf="a.status == 'In Hiring'" (click)="viewCandidate(a.jobId)">View Candidates</a>
                    </li>
                    <!-- <li><a class="dropdown-item">Delete</a></li> -->
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #second>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <button class="btn" (click)="next(3)"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
        </div>
        <div class="card-body">
          <div class="joblist-image text-center">
            <img src="assets/images/joblist-bgimg.svg" class="p-b-2" alt="Create job background image" />
            <p><b>No jobs found !</b></p>
            <button class="btn create-btn-job" (click)="next(3)"><i class="fa fa-plus" aria-hidden="true"></i> Create Your First Job</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #third>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="talentBack" (click)="back(2)">
            <h4 class="iconBack"><i class="fa fa-angle-left" title="Go Back"></i> Create New Job</h4>
          </div>
          <!-- <h4 class="mb-0">Create New Job</h4> -->
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body pt-5 pb-5">
          <div class="text-center basic-info">
            <h2>Let’s get started with some basic info</h2>
            <form [formGroup]="form" class="mt-5">
              <div class="form-row align-items-center form-info">
                <div class="form-floating inner-addon mb-3 col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10 info-form">
                  <img src="assets/images/icon-job-title.svg" class="title-img" />
                  <input
                    type="email"
                    class="form-control font-weight-600 primary-text"
                    id="floatingInputInvalid"
                    placeholder="name@example.com"
                    formControlName="jobtitle"
                    [class.is-invalid]="form.get('jobtitle').invalid && form.get('jobtitle').touched"
                    autocomplete="new-title" />
                  <div *ngIf="(jobtitle.invalid && jobtitle.touched) || jobtitle.dirty" class="error-msg">
                    <small *ngIf="jobtitle.errors?.required" class="text-danger">Job Title is required</small>
                  </div>
                  <label for="floatingInputInvalid">Job Title</label>
                </div>
                <div class="form-floating location-input text-center mb-3 col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10 info-form">
                  <img src="assets/images/icon-pin.svg" />
                  <!-- <option hidden selected value="">Please Select</option> -->
                  <ngx-autocomplete
                    class="form-control autocomplete-label font-weight-600 primary-color"
                    formControlName="location"
                    [(ngModel)]="autocompleteInput"
                    [data]="addressData"
                    [searchOnProperty]="keyword"
                    placeholder="Location"
                    (inputChanged)="onChangeSearch($event)"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ngx-autocomplete>
                  <!-- <label for="floatingSelect"  aria-label="Floating label select example">Location </label> -->
                  <label for="floatingInputInvalid">Location</label>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                  <!-- <input type="text" class="form-control" id="floatingInputInvalid" placeholder="name@example.com" formControlName="location" [(ngModel)]="autocompleteInput"  (input)="getPlaceAutocomplete()"   #addresstext > -->
                  <!-- <datalist id="browsers">
                                      <option *ngFor="let opt of listOfOptions" [value]="opt">

                                    </datalist> -->
                  <!-- <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent> -->
                  <!-- <div class="ngx-autocomplete">
                                      <img src="assets/images/icon-pin.svg">

                                      <label for="floatingInputInvalid">Location</label>
                                      </div>
                                      <label for="floatingInputInvalid">Location</label> -->
                </div>

                <div
                  class="form-floating text-center mb-3 col-xl-4 col-lg-4 col-md-6 col-sm-10 col-xs-10 info-form"
                  id="floatingSelect"
                  aria-label="Floating label select example">
                  <img src="assets/images/icon-atom.svg" />
                  <!-- <label class="input-group-text" for=""><i class="bi bi-funnel"></i></label> -->
                  <!-- <select class="form-select" aria-label="Filter select">
                                          <option selected><i class="bi bi-funnel"></i> Core Technology</option>
                                          <option value="1">All</option>
                                          <option value="2">Active</option>
                                          <option value="3">Inactive</option>
                                        </select> -->

                  <!-- <select id="select-type-basic" [(ngModel)]="status">
                                          <option *ngFor="let status_item of status_values">
                                          {{status_item}}
                                          </option>
                                      </select> -->

                  <select
                    formControlName="technology"
                    class="form-select techform font-weight-600"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    [class.is-invalid]="form.get('technology').invalid && form.get('technology').touched">
                    <option hidden selected value="">Please Select</option>
                    <!-- <option hidden value="" disabled selected>Core Technology</option> -->
                    <!-- <option [ngValue]="null" [disabled]="true" >Core Technology</option> -->

                    <!-- <option value="">Core Technology</option>                                    -->
                    <option *ngFor="let technology of Technologies" [ngValue]="technology">
                      {{ technology.technologyValues }}
                    </option>
                  </select>
                  <label for="floatingSelect">Core Technology</label>
                  <div *ngIf="(technology.invalid && technology.touched) || technology.dirty" class="error-msg">
                    <small *ngIf="technology.errors?.required" class="text-danger">Core Technology is required</small>
                  </div>
                </div>

                <!-- <input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com"> -->
                <!-- <label for="floatingInputInvalid">Core Technology</label> -->
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-proceed mt-5 mb-5" (click)="next(4)" [disabled]="!jobtitle.valid || !technology.valid || !location.valid">
            Proceed <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #four>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body pt-5 pb-3">
          <div class="text-center basic-info">
            <h2 class="job-desc">Job Description</h2>
            <form [formGroup]="form">
              <div class="form-row align-items-center form-info">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-2 mb-4 text-right">
                  <quill-editor
                    [styles]="{ height: '400px' }"
                    class="ql-editor"
                    data-gramm="false"
                    contenteditable="false"
                    formControlName="richText"
                    (onContentChanged)="textChanged($event)"></quill-editor>
                  <span class="count-display">{{ currentEditorTextLength }}/{{ maxEditorTextLength }} characters </span>
                </div>
              </div>

              <div class="basic-info">
                <h2>Add Skillset Required*</h2>
              </div>
              <div class="skillset">
                <div class="select-item-list">
                  <div class="select-item-list--single">
                    <input
                      [matAutocomplete]="auto"
                      class="form-control"
                      type="text"
                      id="skillsSet"
                      placeholder="Enter each Skills Set and hit 'Enter' Key."
                      [(ngModel)]="skillsSet"
                      (keyup)="getUserIdsFirstWay($event)"
                      id="userIdFirstWay"
                      list="dynmicUserIds"
                      (keydown.enter)="onSkillsSetKeydown()"
                      formControlName="skillSet"
                      #skillsSetRef />
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option (click)="change(item)" *ngFor="let item of userList1" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-autocomplete>

                    <div *ngFor="let skill of skills; let i = index" class="roundedcorner">
                      {{ skill | titlecase }}
                      <i class="fa fa-times-circle" style="font-size: 17px; color: white" (click)="dropSkill(i, skill)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-footer text-center project-department-footer">
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <img src="assets/images/left-arrow.svg" alt="login" class="back-arr" />
              <span class="back-txt">
                <button class="btn back-btn" (click)="back(3)">Back</button>
              </span>
            </div>

            <div class="d-flex">
              <span class="nxt-txt">
                <button class="btn nxt-btn" (click)="next(5)" [disabled]="!richText.valid || skills.length === 0">Next</button>
              </span>
              <img src="assets/images/right-arrow.svg" alt="login" class="next-arr" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <button class="btn nxt-btn" (click)="next(4)">Next</button> -->
</ng-template>

<ng-template #five>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body project-info pt-5 pb-5">
          <div class="text-center basic-info">
            <h2>To which project are you hiring for?</h2>
            <form [formGroup]="form" mt-5>
              <div class="form-row align-items-center form-info">
                <div class="form-floating text-center mb-3 col-xl-4 col-lg-6 col-md-8 col-sm-12 col-xs-12 info-form">
                  <div class="input-group">
                    <img src="assets/images/dept-icon.svg" />
                    <select formControlName="department" class="form-select" aria-label="Default select example" (change)="departmentChange()">
                      <option hidden selected value="">Default</option>
                      <!-- <option [ngValue]="this.defaultDepartment">Default</option> -->
                      <option *ngFor="let department of domainList" [ngValue]="department">
                        {{ department.domainValues }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-floating text-center mb-3 col-xl-4 col-lg-6 col-md-8 col-sm-12 col-xs-12 info-form">
                  <div class="input-group">
                    <img src="assets/images/proj-icon.svg" />
                    <select formControlName="project" class="form-select" aria-label="Default select example1" (change)="projectChange()">
                      <option hidden selected value="">Default</option>
                      <!-- <option [ngValue]="this.default">Default</option> -->
                      <option *ngFor="let project of projectName" [ngValue]="project">
                        {{ project.title }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="skip">
                  <button (click)="skip(6)" class="btns">
                    Skip
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer text-center project-department-footer">
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <img src="assets/images/left-arrow.svg" alt="login" class="back-arr" />
              <span class="back-txt">
                <button class="btn back-btn" (click)="back(4)">Back</button>
              </span>
            </div>

            <div class="d-flex">
              <span class="nxt-txt">
                <button class="btn nxt-btn" (click)="next(6)">Next</button>
              </span>
              <img src="assets/images/right-arrow.svg" alt="login" class="next-arr" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #six>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card experience-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body pt-5 pb-5">
          <div class="text-center basic-info">
            <h2>One step ahead of the final line!</h2>
            <form [formGroup]="form">
              <div class="experience-category d-flex justify-content-center mt-5">
                <!-- <button
                  [class.active]="isActive(list)"
                  *ngFor="let list of levels"
                  class="btn m-2 d-flex"
                  (click)="listData(list.data); setActive(list)"
                  formControlName="level1"
                  ngDefaultControl
                  [class.is-invalid]="form.get('level1').invalid && form.get('level1').touched">
                  {{ list.skillLevelDescription }}
                </button> -->
                <button
                  [class.active]="isActive(list.lvl)"
                  *ngFor="let list of objs | orderBy : 'lvl'; let i = index"
                  class="btn m-2 d-flex"
                  (click)="listData(list.exp); setActive(list.lvl)"
                  formControlName="level1"
                  ngDefaultControl
                  [class.is-invalid]="form.get('level1').invalid && form.get('level1').touched">
                  {{ list.lvl }}
                </button>

                 <!-- <button class="btn m-2">Junior</button>
                        <button class="btn active m-2">Mid</button>
                        <button class="btn m-2">Senior</button> -->
              </div>
            </form>
          </div>
          <div class="experience-year pt-3">
            <h4 class="text-center">Years of experience</h4>
            <div class="experience-category d-flex justify-content-center mt-1">
              <form [formGroup]="form">
                <button
                  *ngFor="let data of selected; let j = index"
                  [class.active]="isActive1(data)"
                  class="btn m-2"
                  (click)="setActive1(data)"
                  formControlName="experience"
                  [class.is-invalid]="form.get('experience').invalid && form.get('experience').touched"
                  ngDefaultControl>
                  {{ data }}
                </button>
                <!-- <button class="btn m-2">4+</button>
                        <button class="btn m-2">5+</button>
                        <button class="btn m-2">6+</button> -->
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <img src="assets/images/left-arrow.svg" alt="login" class="back-arr" />
              <span class="back-txt">
                <button class="btn back-btn" (click)="back(5)">Back</button>
              </span>
            </div>

            <div class="d-flex">
              <span class="nxt-txt">
                <button class="btn nxt-btn" (click)="next(7)" [disabled]="condition">Next</button>
              </span>
              <img src="assets/images/right-arrow.svg" alt="login" class="next-arr" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row create-job">
            <div class="col-md-12">
              <div class="card ss-wrapper">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <h4 class="mb-0">Create New Job</h4>
                      <a routerLink="createjob" >Cancel</a>
                  </div>
                  <div class="card-body pt-5 pb-5">
                      <div class="text-center basic-info">
                          <h2>What is the job level and experience required?</h2>

                          <div class="experience-category d-flex justify-content-center mt-5">
                            <button class="btn m-2" [class.active]="isActive('btn1')" (click)="category(0);setActive('btn1')">fresher</button>
                             <button class="btn m-2" [class.active]="isActive('btn2')" (click)="category(1);setActive('btn2')">Junior</button>
                            <button class="btn m-2" [class.active]="isActive('btn3')" (click)="category(2); setActive('btn3')">Mid</button>
                            <button class="btn m-2" [class.active]="isActive('btn4')" (click)="category(3); setActive('btn4')">Senior</button>
                          </div>
                      </div>
                      <div class="experience-year pt-3">

                        <div class="text-center" *ngIf="category1">

                          <h4 class="text-center">Years of experience</h4>



                            <button class="btn m-2"  [class.active]="isActive1('btn5')"  (click)="setActive1('btn5')">1+</button>
                            <button class="btn m-2"  [class.active]="isActive1('btn6')" (click)="setActive1('btn6')">2+</button>
                            <button class="btn m-2"  [class.active]="isActive1('btn7')" (click)="setActive1('btn7')">3+</button>

                        </div>
                        <div class="text-center"  *ngIf="category2">

                          <h4 class="text-center">Years of experience</h4>

                          <button class="btn m-2" [class.active]="isActive1('btn8')"  (click)="setActive1('btn8')" >3+</button>
                          <button class="btn m-2" [class.active]="isActive1('btn9')"  (click)="setActive1('btn9')">4+</button>
                          <button class="btn m-2" [class.active]="isActive1('btn10')"  (click)="setActive1('btn10')">5+</button>
                          <button class="btn m-2" [class.active]="isActive1('btn11')"  (click)="setActive1('btn11')">6+</button>
                      </div>
                      <div class="text-center"  *ngIf="category3">

                        <h4 class="text-center">Years of experience</h4>

                        <button class="btn  m-2" [class.active]="isActive1('btn12')"  (click)="setActive1('btn12')">4+</button>
                        <button class="btn m-2" [class.active]="isActive1('btn13')"  (click)="setActive1('btn13')">5+</button>
                        <button class="btn m-2" [class.active]="isActive1('btn14')"  (click)="setActive1('btn14')">6+</button>
                        <button class="btn m-2" [class.active]="isActive1('btn15')"  (click)="setActive1('btn15')">7+</button>
                    </div>
                      </div>

                  </div>
                  <div class="card-footer text-center experience-required-footer">
                    <div class="d-flex align-items-center">
                        <div class="d-flex">
                          <img src="assets/images/left-arrow.svg" alt="login" class="back-arr"/>
                          <span class="back-txt">
                            <button class="btn back-btn" (click)="back(4)">Back</button>
                          </span>
                        </div>

                        <div class="d-flex">
                          <span class="nxt-txt">
                            <button class="btn nxt-btn" (click)="next(6)">Next</button>
                          </span>
                          <img src="assets/images/right-arrow.svg" alt="login" class="next-arr"/>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div> -->
</ng-template>

<ng-template #seven>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper hiring-priority">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body pt-5 pb-5">
          <div class="text-center basic-info">
            <form [formGroup]="form">
              <p>Almost done!<br />Few other relevent details.</p>
              <h2 class="pt-2">What is the hiring priority?</h2>
              <div class="d-flex experience-category d-flex justify-content-center mt-1">
                <button
                  *ngFor="let data of hiringPriority"
                  [value]="data.id"
                  [class.active]="isActive3(data.hiringPriority)"
                  (click)="setActive3(data)"
                  class="btn m-2"
                  formControlName="level2"
                  ngDefaultControl>
                  {{ data.hiringPriority }}
                </button>
                <!-- <button class="btn m-2">Medium</button>
                            <button class="btn m-2">High</button> -->
              </div>
            </form>
          </div>
          <div class="experience-year pt-3 text-center">
            <h2>Number of positions available</h2>
            <form [formGroup]="form">
              <div class="form-row d-flex justify-content-center">
                <button class="value-button" id="decrease" value="Decrease Value" (click)="counter1()">-</button>
                <input
                  type="number"
                  min="1"
                  step="1"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  id="number"
                  [(ngModel)]="counter"
                  formControlName="counter" />
                <button class="value-button" id="increase" value="Increase Value" (click)="counter2()">+</button>
              </div>
            </form>
          </div>
          <!-- <div class="slider">

                        <input type="checkbox" id="remote1" name="remote1" value="Remote" class="first-check">
                        <label for="remote1"> Remote</label>
                        <ngx-slider [(value)]="value" [options]="options">{{value}}%</ngx-slider>
                      </div>
                      <div class="slider">
                        <input type="checkbox" id="travel1" name="travel1" value="Travel" class="first-check">
                        <label for="remote1"> Travel</label>
                        <ngx-slider [(value)]="value1" [options]="options">{{value1}}%</ngx-slider>

                      </div> -->
          <!-- <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Travel</mat-label>
                        <mat-select formControlName="travel">
                         <mat-option *ngFor="let travel of travels" [value]="travel.value">{{travel.viewValue}}</mat-option>
                        </mat-select>
                       </mat-form-field>
                      </div>
                      <div >
                       <mat-form-field appearance="outline">
                        <mat-label>Original of positions</mat-label>
                        <input matInput placeholder="Original of positions" formControlName="originalOfPositions">
                       </mat-form-field>
                  </div> -->
          <form [formGroup]="form">
            <div class="align-items-center d-flex justify-content-center slider slider-main-wrapper slider-x">
              <div class="mw-x">
                <input type="checkbox" id="remote1" name="remote1" value="Remote" class="first-check" formControlName="remote" />
                <label for="remote1">Remote</label>
              </div>
              <!-- <mat-slider color="primary" *ngIf="form.get('remote').value==true"
                   formControlName="remotePercent" thumbLabel [displayWith]="formatLabel" [(ngModel)]="remoteValue"
                   tickInterval="1" step="1" min="0" max="100" aria-label="units"></mat-slider> -->
              <ngx-slider
                color="primary"
                *ngIf="form.get('remote').value == true"
                formControlName="remotePercent"
                [(value)]="value"
                [options]="options"
                [(ngModel)]="value"
                class="value"></ngx-slider>
              <label *ngIf="form.get('remote').value == true" class="mw-l">{{ value }} %</label>
            </div>

            <div class="align-items-center d-flex justify-content-center slider slider-main-wrapper slider-x">
              <div class="mw-x">
                <input type="checkbox" id="travel1" name="travel1" value="Travel" class="first-check" formControlName="travel" />
                <label for="travel1">Travel</label>
              </div>
              <ngx-slider
                color="primary"
                *ngIf="form.get('travel').value == true"
                formControlName="travelPercent"
                [(value)]="value1"
                [options]="options1"
                [(ngModel)]="value1"
                class="value"></ngx-slider>
              <!-- <mat-slider color="primary" *ngIf="form.get('travel').value ==true"
                        formControlName="travelPercent" thumbLabel [displayWith]="formatLabel" [(ngModel)]="travelValue"
                        tickInterval="1" step="1" min="0" max="100" aria-label="units"></mat-slider> -->
              <label *ngIf="form.get('travel').value == true" class="mw-l">{{ value1 }} %</label>
            </div>
          </form>

          <div class="card-footer text-center">
            <div class="d-flex align-items-center">
              <div class="d-flex">
                <img src="assets/images/left-arrow.svg" alt="login" class="back-arr" />
                <span class="back-txt">
                  <button class="btn back-btn" (click)="back(6)">Back</button>
                </span>
              </div>

              <div class="d-flex">
                <span class="nxt-txt">
                  <button class="btn nxt-btn" (click)="next(8)" [disabled]="condition1">Next</button>
                </span>
                <img src="assets/images/right-arrow.svg" alt="login" class="next-arr" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #eight>
  <div class="row create-job">
    <div class="col-md-12">
      <div class="card ss-wrapper job-level">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0">Create New Job</h4>
          <a routerLink="/ssdashboard">Cancel</a>
        </div>
        <div class="card-body pt-5 pb-5 rate-details-body">
          <div class="text-center basic-info">
            <h4>What is the job level and experience required?</h4>
            <h3 class="pt-5">Rate details</h3>



            <div class="btn-group" role="group">
              <button
                disabled
                id="btnGroupDrop1"
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
                {{ form.value?.technology.technologyValues }}
              </button>
              <button
                disabled
                id="btnGroupDrop1"
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
                {{ activeButton }}
              </button>
              <button
                disabled
                id="btnGroupDrop1"
                type="button"
                class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false">
                {{ activeButton3 }}
              </button>
            </div>
          </div>
          <!-- <div class="experience-year pt-3">
                    <div class="experience-category d-flex justify-content-center mt-1" *ngIf="category1">
                      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </div>
                  </div> -->
          <form [formGroup]="form">
            <div class="slider">
              <!-- <div class="row slider-row">
                        <div class="col-lg-5 col-md-10 col-sm-10">
                          <div class="row">
                            <label class="base">BaseRate</label>
                          </div>

                          <div class="row">
                            <label class="base">{{baseRate}} $</label>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 sldr">
                          <ngx-slider [(value)]="baseRate" [(highValue)]="maxRate" [options]="options2"></ngx-slider>
                        </div>
                        <div class="col-lg-5 col-md-10 col-sm-10">
                          <div class="row">
                            <label class="max">MaxRate</label>
                          </div>

                          <div class="row">
                            <label class="max">{{maxRate}} $</label>
                          </div>
                        </div>
                      </div> -->

              <div class="row newslider">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12 m-0 p-0 base-info">
                  <label class="base"> BaseRate</label>
                  <label class="base"> ${{ baseRate }} per hour </label>
                </div>

                <div class="sldr col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 rate-info">
                  <ngx-slider [(value)]="baseRate" [(highValue)]="maxRate" [options]="options2"></ngx-slider>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-xs-12 base-info">
                  <label class="max">MaxRate</label>
                  <label class="max"> ${{ maxRate }} per hour</label>
                </div>
              </div>

              <!-- <label class="pull-right">{{baseRate}} $</label>  -->
              <!-- <div class="row">
                            <label class="pull-right">BaseRate</label>
                          </div>
                          <div class="row">
                            <label class="pull-right">{{baseRate}} $</label>
                          </div> -->

              <!-- <label class="pull-left">MaxRate</label>


                            <label class="pull-left">{{maxRate}} $</label>  -->

              <!-- <label class="max">MaxRate</label>
                      {{maxRate}} $ -->
            </div>
          </form>
        </div>
        <div class="card-footer rate-details-footer text-center">
          <div class="d-flex align-items-center">
            <div class="d-flex">
              <img src="assets/images/left-arrow.svg" alt="login" class="back-arr" />
              <span class="back-txt">
                <button class="btn back-btn" (click)="back(7)">Back</button>
              </span>
            </div>
            <div class="d-flex">
              <span class="nxt-txt">
                <button class="btn view-btn ml-1" (click)="next(9)"><i class="fa fa-eye" aria-hidden="true"></i> Preview Job</button>
              </span>
              <!-- <img src="assets/images/right-arrow.svg" alt="login" class="next-arr"/> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #nine>
  <div class="d-flex justify-content-center" style="height: '92vh'" *ngIf="show === true">
    <mat-spinner style="top: '40%'"></mat-spinner>
  </div>
  <div class="preview-job-section-wrapper" *ngIf="show === false">
    <div class="row">
      <div class="col-md-12 preview-top">
        <div class="card mb-0 preview-card">
          <div class="card-header preview-header d-flex justify-content-between align-items-center">
            <h4 class="pre mb-0">Preview Job</h4>
            <button *ngIf="jobCreateVisibility" class="publish-job-btn btn" (click)="submit()">Publish Job</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row preview-info">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 preview-left-section">
        <div class="card-body">
          <img src="assets/images/preview-tag-ribbon.png" width="50px" class="tag p-0" />
          <h2>{{ form.value?.jobtitle }}</h2>

          <div class="preview-job-details d-flex">
            <div class="details">
              <p>Location</p>
              <h5>{{ form.value?.location }}</h5>
            </div>
            <div class="details">
              <p>Rate</p>
              <h5>${{ baseRate }}-${{ maxRate }}</h5>
            </div>
            <div class="details">
              <p>Level</p>
              <h5>{{ activeButton }} Level</h5>
            </div>
            <div class="details">
              <p>Experience Required</p>
              <h5>{{ activeButton1 }} Years</h5>
            </div>
            <div class="details" id="detail">
              <p>Open Positions</p>
              <h5>{{ counter }}</h5>
            </div>
          </div>

          <div class="preview-skillset">
            <h4>SkillSets</h4>
            <div class="skill-tag d-flex">
              <button *ngFor="let skill of skills; let i = index" class="btn">
                {{ skill }}
              </button>
            </div>
          </div>

          <div class="preview-job-description">
            <h4>Job Description</h4>

            <div class="responsibilities">
              <quill-view-html class="quillview" [content]="this.form.value.richText" format="text" theme="snow"></quill-view-html>
            </div>
          </div>

          <div class="preview-job-type-details d-flex">
            <div class="details" *ngIf="this.form.value.remotePercent > 0">
              <p>Remote</p>
              <h5>{{ value }}%</h5>
            </div>
            <div class="details" id="detail" *ngIf="this.form.value.travelPercent > 0">
              <p>Travel</p>
              <h5>{{ value1 }} %</h5>
            </div>
          </div>

          <div class="terms">
            <div class="not-required d-flex align-items-center">
              <img *ngIf="checkedvalue1" src="assets/images/right.svg" />
              <img *ngIf="!checkedvalue1" src="assets/images/cross.svg" />
              <div class="info">
                <h5 class="mb-0">Federal Security Clearance Check</h5>
                <p *ngIf="!checkedvalue1">NOT REQUIRED</p>
                <p *ngIf="checkedvalue1">REQUIRED</p>
              </div>
            </div>

            <div class="enabled d-flex align-items-center">
              <img *ngIf="checkedvalue" src="assets/images/right.svg" />
              <img *ngIf="!checkedvalue" src="assets/images/cross.svg" />
              <div class="info">
                <h5 class="mb-0">Pre-Screening Questionnaire</h5>
                <p *ngIf="!checkedvalue">{{ checked }}</p>
                <p *ngIf="checkedvalue">{{ checked }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 preview-right-section">
        <div class="card preview-info-1 col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12">
          <div class="card-body d-flex">
            <img src="assets/images/Vector.svg" />
            <div class="preview-right-info">
              <h5>Federal Security Clearance Check</h5>
              <p>Do you need the candidate(s) to have federal security clearance to work on this project?</p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <a routerLink="#"><img src="assets/images/question-icon.svg" /> About</a>
            <div class="d-flex align-items-center">
              <h5 class="mb-0">
                <p *ngIf="!checkedvalue1" style="color: grey; margin-top: 12px">NOT REQUIRED</p>
                <p *ngIf="checkedvalue1" style="color: #3cba54; margin-top: 12px">REQUIRED</p>
              </h5>
              <div class="toggle">
                <label class="switch">
                  <input type="checkbox" [checked]="checkedvalue1" (change)="required($event)" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card preview-info-2 col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12">
          <div class="card-body d-flex">
            <img src="assets/images/blue-icon.svg" />
            <div class="preview-right-info">
              <h5>Screening Questions</h5>
              <p>Would you like to add pre-screening questions to shortlist the candidate(s) for this project?</p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <a routerLink="#"><img src="assets/images/question-icon.svg" /> About</a>
            <div class="d-flex align-items-center">
              <h5 class="mb-0">
                <p *ngIf="!checkedvalue" style="color: grey; margin-top: 12px">{{ checked }}</p>
                <p *ngIf="checkedvalue" style="color: #3cba54; margin-top: 12px">{{ checked }}</p>
              </h5>
              <div class="toggle">
                <label class="switch">
                  <input type="checkbox" [checked]="checkedvalue" (change)="EnableDisable($event)" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row preview-footer">
      <div class="col-md-12">
        <div class="card-footer d-flex justify-content-center">
          <button class="btn edit-btn" (click)="next(8); resetChecked()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Edit Info</button>
          <button class="btn publish-btn" *ngIf="jobCreateVisibility" (click)="submit()">
            Publish Job <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ten>
  <!-- <meta http-equiv = "refresh" content = "2; routerLink = ../skillseeker-dashboard/skillseeker-joblist/skill skillseeker-dashboard\skillseeker-joblist\skillseeker-joblist.component.html /> -->
  <div class="published-wrapper">
    <div class="card ss-wrapper">
      <div class="card-body">
        <h2>Great!</h2>
        <h3>You have published your job requirement.</h3>
        <p>FlexCub is working to give you the best matching profiles...</p>
        <div class="flex">
          <div class="margin-right">
            <circle-progress
              [percent]="85"
              [radius]="35"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [showBackground]="false"
              [showSubtitle]="false"
              [backgroundStroke]="'#808080'"></circle-progress>
            <p>Skillset</p>
          </div>
          <div class="margin-right">
            <circle-progress
              [percent]="75"
              [radius]="35"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#A020F0'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [showBackground]="false"
              [showSubtitle]="false"
              [backgroundStroke]="'#808080'"></circle-progress>
            <p>Location</p>
          </div>
          <div class="margin-right">
            <circle-progress
              [percent]="65"
              [radius]="35"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="0"
              [outerStrokeColor]="'#FFA500'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [showBackground]="false"
              [showSubtitle]="false"
              [backgroundStroke]="'#808080'"></circle-progress>
            <p>Rate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
