<div class="row card create-agreement-section">
  <!-- Header Section Start -->

  <!-- <div class="col-md-12 card-header create-agreement-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Master Service Agreements</h4>
      <button class="btn create-btn">+ Create New</button>
    </div> -->

  <ng-container [ngTemplateOutlet]="first" *ngIf="step === 1"></ng-container>
  <ng-container [ngTemplateOutlet]="second" *ngIf="step === 2"></ng-container>
  <ng-container [ngTemplateOutlet]="third" *ngIf="step === 3"></ng-container>

  <!-- Header Section End -->

  <ng-template #first>
    <div class="col-md-12 card-header create-agreement-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0" (click)="selectionphase()"><i class="fa fa-angle-left px-2" title="Go Back"></i>Create New PO</h4>
      <button class="btn cancel-btn" (click)="selectionphase()">Cancel</button>
    </div>

    <div class="card-body client-body mb-5 mt-5 pb-5 pt-5">
      <div class="text-center">
        <h5 class="mb-0">Select a Candidate and the respective project</h5>
        <p class="pb-1">If you do not know the client or project, you can select “Default” as the option.</p>
      </div>

      <form [formGroup]="form1">
        <div class="row client-form d-flex flex-column justify-content-center">
          <div class="form-group offset-md-4 col-md-4 pt-3">
            <div class="form-group form-floating mb-3 mt-3 input-form">
              <input type="text" class="form-control" placeholder="Candidate Name" name="CandidateName" formControlName="candidateName" />
              <label for="candidate">Candidate Name*</label>

              <!-- <div *ngIf="projects.controls[i].get('emailaddress')?.errors?.required && submitted1 != null && !submitted1" >
                            <small class="text-danger">Email Address is
                              required</small>
                          </div> -->
            </div>
          </div>

          <div class="form-group offset-md-4 col-md-4 pt-3">
            <select formControlName="project" class="form-control form-control-lg form-select" (change)="projectChange()">
              <option hidden selected value="">Select Project</option>
              <option [ngValue]="this.default">Default</option>
              <option *ngFor="let project of projectName" [ngValue]="project">
                {{ project.title }}
              </option>
            </select>
          </div>
          <div class="form-group offset-md-4 col-md-4 pt-3">
            <select class="form-control form-control-lg form-select" formControlName="department" (change)="departmentChange()">
              <option hidden selected value="">Select Department</option>
              <option [ngValue]="this.defaultDepartment">Default</option>
              <option *ngFor="let department of domainList" [ngValue]="department">
                {{ department.domainValues }}
              </option>
            </select>
          </div>
          <div class="form-group offset-md-4 col-md-4 pt-3">
            <div class="form-group form-floating mb-3 mt-3 input-form">
              <input [readOnly] type="text" class="form-control" placeholder="Role" name="Role" formControlName="role" />
              <label for="role">Role*</label>

              <!-- <div *ngIf="projects.controls[i].get('emailaddress')?.errors?.required && submitted1 != null && !submitted1" >
                            <small class="text-danger">Email Address is
                              required</small>
                          </div> -->
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-footer create-new-footer mt-5 d-flex justify-content-center">
      <button (click)="next(2)" [disabled]="!form1.valid" class="btn proceed-btn">
        Proceed <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </ng-template>

  <ng-template #second>
    <div class="col-md-12 card-header create-agreement-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0" (click)="back(1)"><i class="fa fa-angle-left px-2" title="Go Back"></i>Create New PO</h4>
      <button class="btn cancel-btn" (click)="selectionphase()">Cancel</button>
    </div>

    <div class="card-body upload-agreement text-center">
      <h5 class="mb-0">Upload your PO Document</h5>
      <p class="pb-3">
        Save your time by downloading our curated service agreement and make modifications as required. Otherwise, you can upload your own.
      </p>

      <div class="card upload-document text-center">
        <form [formGroup]="agreeDocs">
          <img src="assets/images/icon-documents.svg" width="50px" class="m-auto" />
          <p>Drag and drop or browse files to upload pdf.</p>
          <!-- <a routerlink="">Download Template</a> -->
          <div>
            <a role="button" (click)="downloadPo()">Download template</a>
          </div>
          <div class="form-group">
            <div *ngIf="file2" class="display">
              <div *ngFor="let a of Agreefilestemp; let j = index" class="d-flex align-items-center justify-content-center">
                <div class="card" style="width: 300px; margin: 5px 0px">
                  <div class="card-body row">
                    <div class="col-12">
                      {{ a.agreementfile.name }}
                      <div class="progress" style="height: 5px">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          [style.width]="progressValue + '%'"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="file2" class="delete-icon" (click)="remove(j)">
                  <img src="assets/images/icon-delete.svg" />
                </div>
              </div>
            </div>
          </div>
          <!-- <a id="a">Download File</a>  -->
          <div class="uploader mt-3">
            <input
              (change)="agreefile($event)"
              accept="application/pdf"
              type="file"
              formControlName="agreeDocument"
              class="multifile3"
              id="agreefile" />
            <div>
              <button class="btn browse-btn" id="files" onclick="document.getElementById('agreefile').click();">Browse Files</button>
              <button (click)="upload()" class="btn upload-btn">Upload</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card-footer create-agreement-footer mt-5 d-flex justify-content-center">
      <button (click)="next(1)" class="btn back-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
      <button (click)="next(3)" [disabled]="!preview" class="btn preview-btn"><i class="fa fa-eye" aria-hidden="true"></i> Preview</button>
    </div>
  </ng-template>

  <ng-template #third>
    <div class="col-md-12 card-header preview-agreement-header create-agreement-header d-flex justify-content-between align-items-center">
      <h4 class="mb-0" (click)="back(2)"><i class="fa fa-angle-left px-2" title="Go Back"></i>Preview Purchase Orders</h4>

      <button class="btn create-btn" (click)="send()">Send PO</button>
    </div>

    <div class="card-body preview-info">
      <img src="assets/images/preview-tag-ribbon.png" width="50px" class="tag p-0" />
      <div class="title">
        <p class="mb-0 pt-3">Statement of Work for:</p>
        <h2>{{ skillOwnerName }}</h2>
      </div>

      <div class="preview-agreement-details d-flex">
        <div class="details">
          <p>Role:</p>
          <h5>{{ skillOwnerRole }}</h5>
        </div>
        <div class="details">
          <p>Project</p>
          <h5>{{ projectname }}</h5>
        </div>
        <div class="details">
          <p>Department</p>
          <h5>{{ departmentname }}</h5>
        </div>
        <div class="details">
          <p>Version</p>
          <h5>1.0</h5>
        </div>
        <div class="details">
          <p>Created On</p>
          <h5>{{ todayWithPipe }}</h5>
        </div>
      </div>

      <div>
        <pdf-viewer
          [src]="src"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 100%; height: 600px"></pdf-viewer>
        <!-- <button (click)="download()">download</button> -->
      </div>
    </div>

    <!-- Modal -->
    <div class="modal complete-modal fade" id="sendPOModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-end">
            <button type="button" (click)="close()" class="close text-right" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <img src="assets/images/icon-complete.png" />
            <h3 class="pt-3">PO has been sent successfully!</h3>
            <p>
              Purchase Order document for {{ skillOwnerName }} as {{ skillOwnerRole }} for Project - {{ projectname }} has been sent to FlexCub for
              approval. You will be notified further on any change or acceptance.
            </p>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" (click)="close()" class="btn cancel-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
