.modal {
  height: 500px;
  overflow-y: auto;
}

.candidate-info .edit-btn {
  color: #325e9e;
  border: none;
}

.modal-content {
  border-radius: 0;
  border: none;

  .modal-body .candidate-info {
    .candidate-name-experience {
      padding: 10px;

      h4 {
        font-weight: 600;
        font-size: 18px;
        color: #325e9e;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: #656565;
      }
    }
  }
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
  .modal-title {
    p {
      font-weight: 600;
      font-size: 18px;
      color: #000000;
    }
    h5 {
      font-weight: 400;
      font-size: 16px;
      color: #656565;
    }
  }
  .close {
    padding: 10px;
    background: #f5f9ff;
    border-radius: 8px;
    border: none;
  }
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 800px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

::ng-deep {
  // .custom-ngx-slider .ngx-slider .ngx-slider-pointer {
  //     width: 10px;
  //     height: 15px;
  //     top: auto; /* to remove the default positioning */
  //     bottom: 0;
  //   }
  .custom-slider.ngx-slider.vertical .ngx-slider-tick-legend {
    right: 0px;
    left: 35px;
  }
  .custom-slider.ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    // top: -14px;
    background-color: #20c142;
    z-index: 3;
  }

  .custom-slider.ngx-slider .ngx-slider-pointer-min {
    background: #20c142;
  }
  .custom-slider.ngx-slider .ngx-slider-selection {
    background: #20c142 !important;
  }

  .custom-slider.ngx-slider-inner-tooltip {
    display: none;
  }

  .custom-slider.ngx-slider .ngx-slider-tick {
    background: #20c142;

    &.custom-slider.ngx-slider-selected {
      background: #20c142 !important;
    }
  }

  .custom-slider.ngx-slider .ngx-slider-tick-legend {
    font-size: 11px;
    white-space: nowrap !important;
    max-width: max-content;
    -webkit-transform: translate(-50%, 0) !important;
    transform: translate(-100%, 0) !important;
  }

  // .ngx-slider {
  //     width: 66% !important;
  // }

  .custom-slider.ngx-slider .ngx-slider-tick {
    width: 16px !important;
    height: 16px !important;
    background: #eaecef;
    border: 1px solid #c4c4c4;
    top: -4px !important;
  }
}

::ng-deep {
  // .custom-ngx-slider .ngx-slider .ngx-slider-pointer {
  //     width: 10px;
  //     height: 15px;
  //     top: auto; /* to remove the default positioning */
  //     bottom: 0;
  //   }
  .class1.ngx-slider.vertical .ngx-slider-tick-legend {
    right: 0px;
    left: 35px;
  }
  .class1.ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    // top: -14px;
    background-color: #20c142;
    z-index: 3;
  }

  .class1.ngx-slider .ngx-slider-pointer-min {
    background: #20c142;
  }
  .class1.ngx-slider .ngx-slider-selection {
    background: #20c142;
  }

  .class1.ngx-slider-inner-tooltip {
    display: none;
  }

  .class1.ngx-slider .ngx-slider-tick {
    background: #20c142;

    &.class1.ngx-slider-selected {
      background: red !important;
    }
  }

  .class1.ngx-slider .ngx-slider-tick-legend {
    font-size: 11px;
    white-space: nowrap !important;
    max-width: max-content;
    -webkit-transform: translate(-50%, 0) !important;
    transform: translate(-100%, 0) !important;
  }

  // .ngx-slider {
  //     width: 66% !important;
  // }

  .class1.ngx-slider .ngx-slider-tick {
    width: 16px !important;
    height: 16px !important;
    background: #20c142;
    border: 1px solid #c4c4c4;
    top: -4px !important;
  }
  .class1.ngx-slider .ngx-slider-bar {
    z-index: 1;
    background: #20c142;
    border-radius: 2px;
  }
}

.interviewDetails {
  h6,
  label {
    font-weight: 600;
    font-size: 12px;
    color: #656565;
    line-height: 16px;
    margin: 0;
  }
  margin-bottom: 14px;
  min-height: 65px !important;
}

.interviewContainer {
  position: absolute;
  top: 16%;
  left: 12%;
}

.slider-height {
  height: 78vh;
  padding-top: 10px;
}

.status {
  margin-top: -34px;
  margin-left: 130px;
}

.green {
  font-size: 12px;
  font-weight: 400;
  background: #3cba54;
  border: 1px solid #3cba54;
  border-radius: 35px;
  padding: 4px 12px;
  color: white;
}

.yellow {
  font-size: 12px;
  font-weight: 400;
  background: #f4c20d;
  border: 1px solid #f4c20d;
  border-radius: 35px;
  padding: 4px 12px;
  color: #000000;
}

.red {
  font-size: 12px;
  font-weight: 400;
  background: red;
  border: 1px solid red;
  border-radius: 35px;
  padding: 4px 12px;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.custom1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  gap: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-left: 3px;
  border-radius: 35px;
}

.badge {
  border-radius: 35px;
  font-weight: 400;
  font-size: 14px;
}
.active-badge {
  background: #3cba54;
  border: 1px solid #3cba54;
  color: #f5f9ff;
}
.correction-badge {
  background: #f4c20d;
  border: 1px solid #f4c20d;
  color: #333333;
}
.white-badge {
  background: #4885ed;
  border: 1px solid #4885ed;
  color: white;
}
.inreview-badge {
  background: #f97d0b;
  border: 1px solid #f97d0b;
}
.expiring-badge {
  background: #ffecec;
  border: 1px solid #db3236;
  color: #db3236;
}
.expired-badge {
  background: #db3236;
  border: 1px solid #db3236;
}
// #reversedRange {
//     direction:
// }

.custom2 {
  background: #f5f9ff;
  border: 1px solid #325e9e;
  color: #325e9e;
  border-radius: 35px;
  margin-left: 3px;
}
