<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card animate__animated animate__fadeInLeft" data-wow-duration="1.5s">
      <div class="row no-gutters">
        <div class="col-md-5 bg-left-color fadeInUp">
          <img src="assets/images/register-left-img.png" alt="login" class="login-card-img" />
        </div>
        <div class="col-md-7 login-right-section">
          <div class="card-body">
            <div class="brand-wrapper text-center">
              <img src="assets/images/logo-flexcub.svg" alt="logo" class="logo" />
            </div>
            <p class="login-card-description text-center">Forgot Password</p>
            <p class="main-sub-text text-center">The password should have atleast 6 characters</p>

            <div class="login-card-body login-formsection-s-4 login-box">
              <form [formGroup]="formForm" (ngSubmit)="submit()">
                <div class="user-box">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    name=""
                    required=""
                    formControlName="oldPassword"
                    [class.is-invalid]="formForm.get('oldPassword').invalid && formForm.get('oldPassword').touched" />
                  <label>New Password</label>
                  <span (click)="toggleFieldTextType()" class="btn_eye">
                    <i
                      style="margin-left: -40px; margin-top: 9px"
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }">
                    </i>
                  </span>
                  <div *ngIf="(f.oldPassword.invalid && f.oldPassword.touched) || f.oldPassword.dirty" class="invalid-feedback">
                    <small *ngIf="f.oldPassword.errors.required">New password is required</small>
                    <small *ngIf="f.oldPassword.errors.minlength">New password must be at least 6 characters</small>
                  </div>
                  <!-- <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">New Password is required</div>
                    <div *ngIf="f.oldPassword.errors.minlength">New Password must be at least 6 characters</div>
                  </div> -->
                  <!-- d-flex justify-content-between -->
                  <!-- <img src="assets/images/show-password.svg" alt="login" class="glyphicon glyphicon-user cursor-pointer" /> -->
                </div>
                <div class="user-box">
                  <input
                    [type]="fieldTextType1 ? 'text' : 'password'"
                    name=""
                    required=""
                    formControlName="newPassword"
                    [class.is-invalid]="formForm.get('newPassword').invalid && formForm.get('newPassword').touched" />
                  <label>Confirm Password</label>
                  <span (click)="toggleFieldTextType1()" class="btn_eye">
                    <i
                      style="margin-left: -40px; margin-top: 9px"
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType1,
                        'fa-eye': fieldTextType1
                      }">
                    </i>
                  </span>
                  <div *ngIf="(f.newPassword.invalid && f.newPassword.touched) || f.newPassword.dirty" class="invalid-feedback">
                    <small *ngIf="f.newPassword.errors.required">Confirm Password is required</small>
                    <small *ngIf="f.newPassword.errors.minlength">Confirm Password must be at least 6 characters</small>
                  </div>
                  <!-- <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.newPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                  </div> -->
                  <!-- <img src="assets/images/show-password.svg" alt="login" class="glyphicon glyphicon-user cursor-pointer" /> -->
                </div>
                <div class="proceed-btn">
                  <button class="float-end btn btn-primary d-block w-100" [disabled]="!formForm.valid" (click)="submit()">Change Password</button>
                </div>
                <p class="text-center pt-2">
                  To make sure your account is secure, you'll be logged out from other devices once you set the new password.
                </p>
              </form>
              <div class="remind-me"></div>
            </div>
          </div>
          <div class="login-card-footer-text">
            <a href="#">Privacy Policy</a> <span>|</span>
            <a href="#" class="">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
