.create-job .card .card-header a {
  color: #db3236;
  font-size: 16px;
  font-weight: 600;
}

.create-job .card .card-header h4 {
  font-size: 18px;
  font-weight: 600;
}

.create-job .card-body h2 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #1c4684;
}

.create-job .card-body .basic-info button.active {
  background: #1565d8;
  color: #ffffff;
  border: 1px solid #eaecef;
  box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
}

.create-job .card-body .basic-info .btn {
  background: #ffffff;
  border: 1px solid #eaecef;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #1c4684;
  height: 58px;
  padding: 18px 27px;
}

.create-job .card-body .basic-info .btn:hover {
  background: #1565d8;
  color: #ffffff;
  border: 1px solid #eaecef;
  box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
}

.create-job .card-body .experience-year h4 {
  font-size: 18px;
  font-weight: 500;
  color: #1c4684;
}

.create-job .card-body .experience-year .btn {
  background: #ffffff;
  border: 1px solid #eaecef;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #1c4684;
  height: 58px;
  padding: 18px 48px;
}

.create-job .card-body .experience-year button.active {
  background: #1565d8;
  color: #ffffff;
  border: 1px solid #eaecef;
  box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
}

.create-job .card-body .experience-year .btn:hover {
  background: #1565d8;
  color: #ffffff;
  border: 1px solid #eaecef;
  box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
}

.create-job .card .card-footer {
  margin-top: 8rem;
  border-top: none;
  background: #ffffff !important;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .btn {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
  }
  .back-btn {
    color: #656565;
  }
  .nxt-btn {
    color: #4885ed;
  }
}
