.mat-stepper-vertical-line::before {
  display: none;
}

.mat-step .mat-vertical-content-container {
  margin-left: 0px;
}

.mat-step-header .mat-step-icon {
  display: none !important;
}

.mat-step-text-label {
  font-size: 16px;
  font-weight: 600;
}

.mat-step-header {
  box-sizing: inherit !important;
  border-bottom: 1px solid var(--border-color);
}

.mat-step-header[aria-selected='true'] {
  width: 100%;
  box-sizing: inherit;
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid var(--border-color);
}
