.timesheet-body {
  height: 60vh;
  overflow-y: auto;
  .timesheet-tab-left {
    border-right: 1px solid #eaecef;

    h4 {
      text-align: left;
      font-weight: 600;
      font-size: 18px;
      color: #325e9e;
      padding-left: 5px;
    }

    .nav-pills {
      .nav-link.active {
        color: #1c4684;
        border: 1px solid #1565d8;
        background: #f5f9ff;
      }
      .nav-link {
        text-align: left;
        border: 1px solid #eaecef;
        border-radius: 8px;
        background-color: #ffffff;
        color: #656565;
        font-weight: 500;
        font-size: 16px;
        margin: 10px 0px 5px;
      }
    }
  }

  .timesheet-tab-info {
    padding-left: 20px;

    h4 {
      text-align: left;
      font-weight: 600;
      font-size: 18px;
      color: #325e9e;
      padding-left: 5px;
    }

    .tab-content {
      height: 60vh;
      background: #f5f9ff;
      border: 1px solid #eaecef;
      border-radius: 8px;

      p {
        margin: 0 auto;
        color: #656565;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .timesheet-task-info {
    padding-left: 20px;

    .task-pills {
      border-right: 1px solid #eaecef;

      h4 {
        text-align: left;
        font-weight: 600;
        font-size: 18px;
        color: #325e9e;
        padding-left: 5px;
      }

      .nav-pills {
        .nav-link.active {
          color: #1c4684;
          border: 1px solid #1565d8;
          background: #f5f9ff;
        }
        .nav-link {
          text-align: left;
          border: 1px solid #eaecef;
          border-radius: 8px;
          background-color: #ffffff;
          color: #656565;
          font-weight: 500;
          font-size: 16px;
          margin: 10px 0px 5px;
        }
      }
    }

    .task-pane {
      .task-content {
        padding-left: 20px;
        text-align: left;

        h4 {
          text-align: left;
          font-weight: 600;
          font-size: 18px;
          color: #325e9e;
          padding-left: 5px;
        }
      }
    }
  }
}

.idle {
  border: 1px solid #eaecef;
  border-radius: 8px;
  &.primary {
    background-color: rgba(var(--primary), 0.2);
  }
  &.grey {
    background-color: #eaecef;
  }
}

.mxw-7x {
  max-width: 70px;
  margin: auto;
  text-align: center;
}

.a-crawl {
  text-decoration: underline;
  &.danger {
    color: #db3236;
    &:hover {
      color: #db3236;
    }
  }
}

.fa-outline {
  padding: 1rem;
  border-radius: 50%;
  border: 3px solid;
  &.success {
    border-color: #3cba54;
    color: #3cba54;
  }
}

.input-group-prepend,
.input-group-append {
  > .input-group-text {
    font-size: 1.25rem;
    padding: 0.85rem;
    color: var(--primary-hex);
    > .fa {
      color: var(--primary-hex);
    }
    &.pointer {
      cursor: pointer;
    }
  }
}

.input-group-prepend {
  > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-group-append {
  > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.rightx.nxt-3 > .modal-dialog {
  min-width: 825px;
  max-width: 425px;
}

.attach{
  font-weight: 500;
  font-size: 18px;
  color:black
}

.name{
  font-weight: 600;
  font-size: 18px;
  color: #325E9E;
}

.project-week{
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  margin-left: 68px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.active-badge {
  background: white;
  color:rgb(44, 252, 44);
  border-radius: 12px;
  border:1px solid;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}

.totalhours{
  font-weight: 600;
  font-size: 24px;
  color: #325E9E;
}
