<div class="container new-password-wrp">
  <div class="row">
    <div class="col-sm skill-owner-left-side-wrapper">
      <div class="card">
        <div class="card-body">
          <img src="assets/images/skill-owner-activation-img.jpg" alt="avatar" class="img-fluid avatar" />
        </div>
      </div>
    </div>
    <div class="col-sm skill-owner-right-side-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="assets/images/logo-flexcub.svg" alt="avatar" class="img-fluid header-logo" />
            <h3>Setup your account.</h3>
            <p>Set a password to your account and get started now!</p>
          </div>
          <div class="container">
            <form class="form-wrapper form" [formGroup]="formForm">
              <div class="form-floating col-sm-8 mb-3">
                <input type="text" class="form-control" placeholder="First Name*" name="email id" formControlName="emailId" [(ngModel)]="email" />
                <label for="firstname">Email Id</label>
                <div class="text-start"></div>
              </div>
              <div class="form-floating col-sm-8 mb-3">
                <span (click)="toggleFieldTextType()" class="btn_eye label-icon-password">
                  <i
                    style="margin-left: -40px; margin-top: 9px"
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }">
                  </i>
                </span>
                <input
                  [type]="fieldTextType ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control"
                  placeholder="First Name*"
                  name="password"
                  [class.is-invalid]="formForm.get('password').invalid && formForm.get('password').touched" />
                <label for="firstname">Create Password</label>
                <div *ngIf="!f.password?.valid && f.password?.touched" class="invalid-feedback">
                  <small *ngIf="f.password?.errors?.required">New password is required</small>
                  <small *ngIf="f.password?.errors?.minlength">New password must be at least 6 characters</small>
                </div>
                <div class="text-start"></div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary submit-btn" type="submit" [disabled]="!formForm.valid" (click)="submit()">Submit</button>
              </div>
              <div class="col-12 text-center Privacy-text">Privacy Policy | Terms of Service</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
