.body {
  width: calc(100% - 5rem);
  height: 95vh;
  margin-left: 5rem;
  margin-top: 34px;
  z-index: 0;
  position: relative;
  top: 10%;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.525rem);
  margin-left: 16.525rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
