.active-badge {
  background: #3cba54;
  border-radius: 9px;
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;
}
.in-active-badge {
  background: #db3236;
  border-radius: 9px;
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;
}

.badge {
  border-radius: 35px;
  font-weight: 400;
  font-size: 14px;
}

div.msa-process-section {
  width: unset;
  max-width: unset;
}

.align {
  text-align: center;
}

img {
  margin-right: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.msa-process-section {
  .card-header {
    h4 {
      font-weight: 600;
      font-size: 18px;
    }
    .btn {
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      background: #1565d8;
      border: 1px solid #1565d8;
      border-radius: 8px;
    }
  }

  .msa-info {
    height: 600px;
    overflow-y: auto;

    .search-input input {
      border: 1px solid #eaecef;
      border-radius: 8px;
      height: 58px;
    }
    .top-menu-icon {
      img {
        margin: 0 15px;
        background: #f5f9ff;
        border: 1px solid #eaecef;
        border-radius: 6px;
        padding: 10px;
        cursor: pointer;
      }
      .menu-icon {
        padding: 10px 15px;
      }
      .dropdown {
        position: relative;

        .dropdown-info {
          padding: 0;
          background: transparent;
          border: none;
        }
      }
      .dropdown-menu {
        background: #ffffff;
        border: 1px solid #c4c4c4;
        box-shadow: 0px 6px 16px rgba(0, 91, 234, 0.16);
        border-radius: 8px;
        position: absolute;
        right: 12px;
        top: 40px;
        width: 400px;
        padding: 0;

        .filter-info {
          margin: 0;
          .filter-header {
            h5 {
              font-weight: 400;
              font-size: 16px;
              color: #333333;
            }
            a {
              font-weight: 500;
              font-size: 14px;
              color: #db3236;
              img {
                background: transparent;
                border: none;
                padding: 0;
                margin-right: 5px;
              }
            }
          }
          .filter-body {
            height: 350px;
            overflow-y: auto;
            .filter-left {
              border-right: 1px solid #eaecef;

              button {
                background: transparent;
                padding: 0;
                text-align: left;
              }
              .nav-link.active {
                color: #1565d8;
              }
              .nav-link {
                font-weight: 400;
                font-size: 14px;
                color: #333333;
                padding-top: 5px;
                padding-bottom: 5px;
              }
            }
            .filter-content-right {
              .filter-content-right-info {
                .info {
                  padding: 5px 0;
                  p {
                    font-weight: 500;
                    font-size: 16px;
                    color: #656565;
                    padding-left: 5px;
                  }
                  input {
                    background: #ffffff;
                    border: 1px solid #c4c4c4;
                    border-radius: 2px;
                    height: 30px;
                  }
                }
              }
              .project-filter-info {
                .nav-link.active.active {
                  color: #1565d8;
                }
                .nav-link {
                  color: #333333;
                  font-weight: 300;
                  font-size: 14px;
                  padding-left: 0;
                }
              }
            }
          }
          .filter-footer {
            .filter-btn {
              background: #1565d8;
              border: 1px solid #1565d8;
              border-radius: 8px;
              color: #ffffff;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      .dropdown:hover > .dropdown-menu {
        display: block;
      }
      .dropdown > .dropdown-info:active {
        pointer-events: none;
      }
    }
  }
  .msa-detail {
    h5 {
      font-weight: 500;
      font-size: 14px;
      color: #333333;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      color: #656565;
    }
    h6 {
      font-weight: 300;
      font-size: 12px;
      color: #333333;
    }
    .badge {
      border-radius: 35px;
      font-weight: 400;
      font-size: 14px;
    }
    .active-badge {
      background: #3cba54;
      border: 1px solid #3cba54;
      color: #f5f9ff;
    }
    .correction-badge {
      background: #f4c20d;
      border: 1px solid #f4c20d;
      color: #333333;
    }
    .white-badge {
      background: #4885ed;
      border: 1px solid #4885ed;
      color: white;
    }
    .inreview-badge {
      background: #f97d0b;
      border: 1px solid #f97d0b;
    }
    .expiring-badge {
      background: #ffecec;
      border: 1px solid #db3236;
      color: #db3236;
    }
    .expired-badge {
      background: #db3236;
      border: 1px solid #db3236;
    }
    .menu-icon {
      cursor: pointer;
    }
  }
}

.modal {
  height: 100vh;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

.right-side-model {
  span.ngx-slider-span.ngx-slider-tick-legend {
    color: red;
  }
}

.modal-content {
  border-radius: 0;
  border: none;

  .modal-body .candidate-info {
    .candidate-name-experience {
      padding: 10px;

      h4 {
        font-weight: 600;
        font-size: 18px;
        color: #325e9e;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: #656565;
      }
    }
  }
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
  .modal-title {
    p {
      font-weight: 600;
      font-size: 18px;
      color: #000000;
    }
    h5 {
      font-weight: 400;
      font-size: 16px;
      color: #656565;
    }
  }
  .close {
    padding: 10px;
    background: #f5f9ff;
    border-radius: 8px;
    border: none;
  }
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 800px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

// .tooltips {
//   display: inline-block;
//   position: relative;
//   border-bottom: 1px dotted #666;
//   text-align: left;
//   z-index: 9;
// }

// .tooltips .left {
//   // max-width: 200px;
//   width: max-content;
//   //top: 26rem;
//   //right: -60px;
//   transform: translate(-70%, 10%);
//   padding: 10px 20px;
//   color: #024d6b;
//   background-color: #ffffff;
//   font-weight: normal;
//   font-size: 14px;
//   border-radius: 6px;
//   position: absolute;
//   z-index: 9;
//   box-sizing: border-box;
//   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
//   display: none;
// }

// .tooltips:hover .left {
//   display: block;
// }

// .tooltips .left i {
//   // position:absolute;
//   position: absolute;
//   top: 50%;
//   right: 100%;
//   margin-top: -12px;
//   width: 12px;
//   height: 24px;
//   overflow: hidden;
// }

// .tooltips .left i::after {
//   content: '';
//   position: absolute;
//   width: 15px;
//   height: 15px;
//   left: 50%;
//   transform: translate(-50%, -50%) rotate(45deg);
//   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
// }

// .feedback {
//   max-width: max-content;

// }

.view {
  cursor: pointer;
  margin-top: 15px;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: #20c142 !important;
    z-index: 3;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer-min {
    background: #20c142;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: #20c142 !important;
  }

  .custom-slider .ngx-slider-inner-tooltip {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    background: #20c142;

    &.ngx-slider-selected {
      background: #20c142 !important;
    }
  }

  .custom-slider.ngx-slider .ngx-slider-tick-legend {
    font-size: 11px;
    white-space: nowrap !important;
    max-width: max-content;
    -webkit-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
  }

  .custom-slider.ngx-slider {
    width: 66% !important;
  }

  .custom-slider.ngx-slider .ngx-slider-tick {
    width: 16px !important;
    height: 16px !important;
    background: #eaecef;
    border: 1px solid #c4c4c4;
    top: -4px !important;
  }
}

::ng-deep {
  .class1 .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: #20c142 !important;
    z-index: 3;
  }

  .class1 .ngx-slider .ngx-slider-pointer-min {
    background: #20c142 !important;
  }

  .class1 .ngx-slider .ngx-slider-selection {
    background: #20c142 !important;
  }

  .class1 .ngx-slider-inner-tooltip {
    display: none;
  }

  .class1 .ngx-slider .ngx-slider-tick {
    background: #20c142;

    &.class1.ngx-slider-selected {
      background: red !important;
    }
  }

  .class1.ngx-slider .ngx-slider-tick-legend {
    font-size: 11px;
    white-space: nowrap !important;
    max-width: max-content;
    -webkit-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
  }

  .class1.ngx-slider {
    width: 66% !important;
  }

  .class1.ngx-slider .ngx-slider-tick {
    width: 16px !important;
    height: 16px !important;
    background: #20c142;
    border: 1px solid #c4c4c4;
    top: -4px !important;
  }

  .class1.ngx-slider .ngx-slider-bar {
    left: 11px;
    width: 100%;
    height: 4px;
    z-index: 1;
    background: #20c142;
    border-radius: 2px;
  }

  .interviewDetails {
    min-height: 75px !important;
  }

  .candidate-name-experience {
    padding-left: 15px !important;

    h4 {
      color: #1565d8;
    }
  }

  span.ngx-slider-span.ngx-slider-tick-legend {
    color: #333333;
  }

  .ngx-slider.ngx-slider.ngx-slider-selection.custom-slider.vertical.animate.with-legend {
    margin-top: 5px !important;
  }

  // span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min {
  //   background-color: rgba(255, 202, 255, 0.3) !important;
  // }

  span.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min::after {
    // top: 7px;
    // left: 7px;
    // width: 16px;
    // height: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
  }

  .class1.ngx-slider .ngx-slider-bar {
    left: 0 !important;
  }

  // span.ngx-slider-span.ngx-slider-bar {
  //   left: 0 !important;
  // }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  // .position{
  //   padding-left: 176px;
  //   padding-top: 25px
  // }

  .vendor {
    padding-left: 5px;
    // padding-top: 25px;
  }

  .messagePhone {
    // padding-top: 33px;
    // padding-left: 72px;
  }

  .status {
    // padding-top: 41px;
  }

  .contractDate {
    padding-left: 4px;
    // padding-top: 40px;
  }

  .preview {
    // padding-left: 68px;
    // padding-top: 52px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .firstCheck {
    margin-left: -423px;
  }

  .position {
    padding-left: 182px;
    padding-top: 27px;
  }

  .vendor {
    padding-left: 182px;
    padding-top: 27px;
  }

  .messagePhone {
    padding-left: 68px;
    padding-top: 42px;
  }

  .status {
    padding-top: 41px;
    padding-left: 171px;
  }

  .contractDate {
    padding-left: 175px;
    padding-top: 34px;
  }

  .preview {
    display: flex;
    padding-left: 175px;
    padding-top: 23px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .firstCheck {
    margin-left: -423px;
  }

  .position {
    padding-left: 182px;
    padding-top: 27px;
  }

  .vendor {
    padding-left: 182px;
    padding-top: 27px;
  }

  .messagePhone {
    padding-left: 2px;
    padding-top: 42px;
  }

  .status {
    padding-top: 41px;
    padding-left: 171px;
  }

  .contractDate {
    padding-left: 175px;
    padding-top: 34px;
  }

  .preview {
    display: flex;
    padding-left: 175px;
    padding-top: 23px;
  }
}

@media only screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
  .msa-process-section {
    .msa-info {
      .msa-detail {
        .messagePhone {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 525px), screen and (max-width: 525px) {
  .msa-process-section {
    .msa-info {
      .top-menu-icon {
        img {
          margin: 0 5px;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 469px), screen and (max-width: 469px) {
  .msa-process-section {
    .msa-info {
      .form-row {
        flex-direction: column;

        .top-menu-icon {
          margin: 10px 5px 5px;
        }
      }
    }
  }
}
