.create-job .card .card-header .btn {
  background: #1565d8;
  color: #ffffff;
}

.create-job .card .card-header h4 {
  font-size: 18px;
  font-weight: 600;
}

.create-job .card .card-body .joblist-image p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 400;
}

.create-job .card .card-body .joblist-image .btn {
  background: #1565d8;
  color: #ffffff;
}
