<div class="card">
  <div class="col-md-12 card-header d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Map User</h2>
  </div>
  <div class="card-body client-body mb-5 mt-5 pb-5 pt-5">
    <form [formGroup]="userMap" (ngSubmit)="submit()">
      <div class="row client-form d-flex flex-column justify-content-center">
        <div class="form-group offset-md-4 col-md-4">
          <div class="form-group form-floating mt-3 input-form">
            <input type="text" class="form-control" placeholder="Candidate Name" name="CandidateName" formControlName="skillSeekerId" />
            <label for="email">Seeker Name*</label>
          </div>
        </div>
        <div class="form-group offset-md-4 col-md-4 pt-3">
          <div class="form-group mb-4 mt-4 input-form rolename">
            <select class="form-control form-control-lg form-select" id="candidate" formControlName="role">
              <option hidden selected value="">Role Name*</option>
              <option *ngFor="let r of roleList" [value]="r.id">{{ r.subRoleDescription }}</option>
            </select>
          </div>
        </div>
        <div class="card-footer create-new-footer mt-5 d-flex justify-content-center">
          <button type="submit" [disabled]="!userMap.valid" class="btn proceed-btn">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
