.skill-owner-activation-wrapper {
  background-color: #fff;
}

.skill-owner-left-side-wrapper {
  display: flex;
  align-items: center;

  .card {
    border: none;
  }
}
.readonly {
  // pointer-events: none;
  input {
    background-color: #e9ecef;
    &:focus {
      background-color: #fff;
    }
  }
}

.skill-owner-right-side-wrapper {
  .header-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  label {
    padding-left: 25px;
  }

  .proceed-btn {
    .btn-primary {
      color: #fff;
      background-color: #1565d8;
      border-color: #1565d8;
      margin: 1rem;
    }
  }

  .card {
    // text-align: center;
    margin: 1rem;
  }

  .card-body {
    background-color: #edfaff;

    h3 {
      color: #333333;
      font-weight: 600;
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      color: #333333;
      font-size: 1rem;
      font-weight: 400;
    }

    .text-danger {
      text-align: left;
    }

    .form-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .Privacy-text {
    color: #4885ed;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    margin-top: 1.2rem;
  }

  .label-icon {
    position: absolute;
    display: flex;
    align-items: center;
    flex-basis: column;
    padding: 1.75rem 0.5rem 0;
  }

  .form-floating.mail-form > label {
    padding-left: 2rem;
  }

  .form-floating.mail-form > .form-control:focus,
  .form-floating.mail-form > .form-control:not(:placeholder-shown) {
    padding-left: 2rem;
  }

  .error {
    text-align: left;
  }

  .is-invalid {
    border: 2px solid #dc3545;
    background-repeat: no-repeat;
    padding-right: calc(1.5em + 0.75rem);
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  }

  // input{
  //     margin-bottom: 10px;
  // }
}

.date-form .fa-calendar {
  position: absolute;
  top: 31%;
  left: 90%;
  color: #325e9e;
}
